<%= form_for @rehearsal, method: :put, authenticity_token: true, remote: true do |f| %>
    <% if user == 'instructor' %>
        <%= f.hidden_field :instructor_rating %>
        <%= f.hidden_field :approval_status %>
    <% elsif user == 'trainee' %>
        <%= f.hidden_field :submission %>
        <%= f.hidden_field :self_rating %>
    <% end %>
<% end %>

<style>
    .send_data{ float: left; }
    .default{ background-color: #ccc; }
</style>


<% if user == 'instructor' %>
    <% rs = rehearsal.approval_status %>
    <button id="approve" class="send_data <%= rs == 1 ? 'green_sft' : 'default' %>" data-target="rehearsal_approval_status" data-status="<%= rs == 1 ? '0' : '1' %>" >
        <%= rs == 1 ? 'Approved' : 'Approve' %>
    </button>
    <button id="reject" class="send_data <%= rs == 2 ? 'red' : 'default' %>" data-target="rehearsal_approval_status" data-status="<%= rs == 2 ? '0' : '2' %>" >
        <%= rs == 1 ? 'Rejected' : 'Reject' %>
    </button>
    
    <a href="/rehearsals/<%= @rehearsal.id %>" class="leave_feedback">
        <button type="button" class="blue leave_feedback ion-ios-videocam" style="float:left;" data-rehearsalid="<%= @rehearsal.id %> "> Video Feedback</button>
    </a>
<% end %>

<% if user == 'trainee' %>

    <button id="submit" class="send_data <%= rehearsal.submission ? 'green_sft' : 'default' %>" data-target="rehearsal_submission" data-status="<%= !rehearsal.submission ? 'true' : 'false' %>" >
        <%= rehearsal.submission ? 'Submitted' : 'Submit' %>
    </button>

    <button type="button" class="green_sft review_request" style="float:left;">Request peer review</button>
<% end %>



<div class="left">
    <%= render './shared/stars', 
        fld:( user == 'instructor' ? 'rehearsal_instructor_rating' : 'rehearsal_self_rating' ), 
        set:( user == 'instructor' ? @rehearsal.instructor_rating : @rehearsal.self_rating )
    %>
</div>

<script>

    function submitForm(form){
        form.submit();
    }

    $(document).on('click' ,'.star', function(){
        submitForm( $('form.edit_rehearsal') );
    });

    $(document).on('click', '.send_data', function(){
        var form = $('form.edit_rehearsal');

        form.find( '#'+$(this).data('target') )
        .val( $(this).data('status') );
        
        submitForm(form);
        
        // $(this).toggleClass('show');
        // $('#'+$(this).data('show')).toggleClass('show');
    });

</script>