<%= form_for @rehearsal, method: :put, remote: true do |f| %>
    <% if user == 'instructor' %>
        <%= f.hidden_field :instructor_rating %>
        <%= f.hidden_field :approval_status %>
    <% elsif user == 'trainee' %>
        <%= f.hidden_field :submission %>
        <%= f.hidden_field :self_rating %>
    <% end %>
<% end %>

<style>
    .send_data{ display: none; float: left; }
    .send_data.show{ display: block; }
</style>


<% if user == 'instructor' %>
    <button id="approve" data-show="approved" class="send_data default <%= 'show' if rehearsal.approval_status == 0 || rehearsal.approval_status == 2 %> " data-target="rehearsal_approval_status" data-status="1" >
    Approve</button>
    <button id="approved" data-show="approve" class="send_data green_sft <%= 'show' if rehearsal.approval_status == 1 %> " data-target="rehearsal_approval_status" data-status="0" >
    Approved</button>
    <button id="reject" data-show="rejected" class="send_data default <%= 'show' if rehearsal.approval_status == 0 || rehearsal.approval_status == 2 %> " data-target="rehearsal_approval_status" data-status="2" >
    Reject</button>
    <button id="rejected" data-show="reject" class="send_data red <%= 'show' if rehearsal.approval_status == 2 %> " data-target="rehearsal_approval_status" data-status="0" >
    Rejected</button>
    
    <a href="/rehearsals/<%= @rehearsal.id %>" class="leave_feedback">
        <button type="button" class="blue leave_feedback ion-ios-videocam" style="float:left;" data-rehearsalid="<%= @rehearsal.id %> "> Video Feedback</button>
    </a>
<% end %>

<% if user == 'trainee' %>
    <button id="submit" data-show="submitted" class="send_data default <%= 'show' if !rehearsal.submission %> " data-target="rehearsal_submission" data-status="true" >
    Submit</button>
    
    <button id="submitted" data-show="submit" class="send_data green_sft <%= 'show' if rehearsal.submission %> " data-target="rehearsal_submission" data-status="false" >
    Submitted</button>

    <button type="button" class="green_sft review_request" style="float:left;">Request peer review</button>
<% end %>



<div class="left">
    <%= render './shared/stars', 
        fld:( user == 'instructor' ? 'rehearsal_instructor_rating' : 'rehearsal_self_rating' ), 
        set:( user == 'instructor' ? @rehearsal.instructor_rating : @rehearsal.self_rating )
    %>
</div>

<script>

    function submitForm(){
        $('form#edit_rehearsal_1').submit();
    }

    $(document).on('click' ,'.star', function(){
        submitForm();
    });

    $(document).on('click' ,'.send_data', function(){
        $('form#edit_rehearsal_1')
        .find( '#'+$(this).data('target') )
        .val( $(this).data('status') );
        
        submitForm();
        
        $(this).toggleClass('show');
        $('#'+$(this).data('show')).toggleClass('show');
    });

</script>