<li>
  <button class="submission"><%= @rehearsal.id %></button>
</li>
<% @this_video_token = @rehearsal.video_token %>
<% @rehearsalNum = @lesson.rehearsals.where(trainee_id: current_user.id).size.to_s %>
<div class="rehearsal_thumbnail">
  <button class="shadebox_btn rehearsal_btn" data-rehearsal="<%= @rehearsal.id %>" data-rehearsalnumber="<%= @rehearsalNum %>">Rehearsal <%= @rehearsalNum %>

    <div id="rehearsal_<%= @rehearsal.id %>_status" class="blankdot"></div>

    ref#: r<%= (((@rehearsal.id*30)+5)*7).to_s+"id"+@rehearsal.id.to_s %>
  </button>
  <script type="text/javascript">
    $('#rehearsal_<%= @rehearsal.id %>_status').after('<br><img src="'+videoImage("<%= @this_video_token %>")+'" width="100%" class="rehearsal_img"><br>')
  </script>
</div>

