<a href="/rehearsals/student/?student=<%= user.id %>&lesson=<%= lesson_id %>">
  <button type="submit" class="user_bubble">
    <div class="pic">
      <img src="<%= student_pic(user) %>">
    </div>
    <div class="info">
      <%= user.first_name+' '+ user.last_name %><br>
      <div class="other_info">
        Lesson: <%= Lesson.find(lesson_id).title %><br>
        Rehearsals: <%= rehearsals_count %>
      </div>
    </div>
  </button>
</a>
