<div class="rehearsals_title">
  You have <span class="num"><%= @rehearsals_without_feedback.count.to_s %></span> submissions without feedback.
</div>

<hr>

<button class="tab new_content_tab selected">New Rehearsals</button>
<button class="tab all_content_tab">All Rehearsals</button>

<div class="box_sep">
  <div class="lesson_half"></div>
  <div class="this_called_content show_new_content">
    <div class="title">New Rehearsals</div>
    <% @rehearsals_without_feedback.each do |rehearsal| %>

        <% lesson = rehearsal.lesson %>
        <% @this_user = User.find(rehearsal.trainee_id) %>
        <% @r = 'rehearsal_bubble_'+rehearsal.id.to_s %>
        <% @date_sub = time_diff(Time.now, rehearsal.updated_at) %>
        
        
        <button class="user_bubble shadebox_btn rehearsal_activate <%= @r %>" data-rehearsalid='<%= rehearsal.id %>' data-lessontitle='<%= rehearsal.lesson.title %>' >
          <img src="<%= student_pic %>"  class="img-circle">
          <div class="info"><%= @this_user.first_name+' '+ @this_user.last_name %><br>
            <font size="0.2em">Submitted: <%= @date_sub %></font></div>
        </button>

        <%= form_for rehearsal  do |f| %>
            <%= f.text_field :approval_status, type:"hidden", value:false %>
        <% end %>
        <%= form_for [rehearsal, @feedback],html: {id: "feedbackForm"}  do |f| %>
            <%= f.text_field :rehearsal_id, type:"hidden", value:rehearsal.id  %>
            <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
        <% end %>
    <% end %>
  </div>


  <div class="this_called_content show_all_content" style="display:none;">
    <div class="title">All Course Rehearsals</div>
    <% @course_rehearsals.each do |rehearsal| %>
        <% @this_user = User.find(rehearsal.trainee_id) %>
        <% @r = 'rehearsal_bubble_'+rehearsal.id.to_s %>
        <% @date_sub = time_diff(Time.now, rehearsal.created_at) %>

        <button class="user_bubble shadebox_btn rehearsal_activate <%= @r %>" data-rehearsalid='<%= rehearsal.id %>' data-lessontitle='<%= rehearsal.lesson.title %>' >
          <img src="<%= student_pic %>"  class="img-circle">
          <div class="info"><%= @this_user.first_name+' '+ @this_user.last_name %><br>
            <font size="0.2em">Submitted: <%= @date_sub %></font></div>
        </button>
    <% end %>
  </div>


  <div class="shadebox">
        <div class="shade box">
             <div class="shadebox_title">
                <div class="put_title_here"></div>
            </div>
            <div class="shadebox_content" style="text-align:center;">
                <div class="put_video_here"></div>
                <hr>
            </div>
            <div class="shadebox_bottom">
                <button type="button" class="mark_as_completed green_sft" style="float:left;" data-rehearsalid="" data-userid="<%= current_user.id %>">Mark as completed</button>
                <a href="" class="leave_feedback">
                  <button type="button" class="blue leave_feedback" style="float:left;" data-rehearsalid=" ">Leave Video Feedback</button>
                </a>
            </div>
        </div>
    </div>

</div>

