<div class="rehearsals_title">
  You have <span class="num"><%= rehearsals_notif %></span> submissions without feedback.
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      
      <div class="courses">
        <div class="courses_list">
          <h5 class="bold">Courses</h5><hr>
          <% @courses.each do |course| %>
            <div class="course_rehearsal_item <%= "pending" if course.pending_rehearsals %>" data-id="<%=course.id%>" id="course_<%=course.id%>" >
              <%= course.title %>
            </div>
          <% end %>
        </div>
      </div>


      <div class="topics" style="display:none;">
        <span id="course" style="font-size:10px;"></span>
        <h5 class="bold">Topics <button class="small_btn blue back_to" data-to="courses"> back </button> </h5><hr>
        <div class="topics_list">
        </div>
      </div>


      <div class="lessons" style="display:none;">
        <span id="topic" style="font-size:10px;"></span>
        <h5 class="bold">Lessons <button class="small_btn blue back_to" data-to="topics"> back </button> </h5><hr>
        <div class="lessons_list">
        </div>
      </div>
      
    </div>
    <div class="col-xs-8" id="video-area">
      <div id="notrainees">
        <br>  <br>
        <center><h5>Please choose a trainee</h5></center>
      </div>
      <!-- <div class="video-viewer" style="background-color:black;">
        <%= render "./shared/ziggeoplayer", this_class:'rehearsal', token:nil %>
      </div> -->
      <div id="video_list">
        
      </div>

    </div>
    <div class="col-xs-2 students">
      <h5 class="bold">Trainees</h5>
      <hr>
      <div class="result" id="nostudents">
        <center><h4>Please choose a lesson</h4></center>
      </div>
      <div class="result" id="nosubmissions" style="display:none;">
        <center><h4>No trainee submissions</h4></center>
      </div>

      <div class="result" id="success"></div>
      <div class="result" id="error"></div>
    </div>
  </div>
</div>


<script>
  
  $('.back_to').click(function(){
    $(this).closest('div').hide();
    $('.'+$(this).data('to')).show();
  });

</script>