<br>
<% if current_user.level_2 %>
  <h1>Lesson Rehearsals</h1>
  <br>
  <% @lesson.rehearsals.each do |rehearsal| %>
    <% if rehearsal.submission == true %>
      <div class="profile_pic">
        <a href="/users/<%= rehearsal.trainee.id %>"><img src="<%= rehearsal.trainee.photo %>" class="img-circle"></a>
      </div>
      <%=  link_to rehearsal.trainee.first_name, rehearsal_path(rehearsal) %>,
      <%=  link_to rehearsal.trainee.last_name, rehearsal_path(rehearsal) %><br>
      <% @this_video_token = rehearsal.video_token %>
      <%= render './shared/rehearsalplayer' %><br>
    <% end %>
  <% end %>
<% end %>
<br>
