<% @this_user = @rehearsal.trainee %>
<% @link_to_lesson = course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>

<div class="top_info">
  <div class="course_title">
    Rehearsal submission for the lesson ::  
    <%= link_to @rehearsal.lesson.title, @link_to_lesson %>
  </div>
</div>


  <%= link_to @rehearsal.course.title, course_path(@rehearsal.course) %> >> 
  <%= link_to @rehearsal.topic.title, course_topic_path(@rehearsal.course, @rehearsal.topic) %> >>
  <%= link_to @rehearsal.lesson.title, @link_to_lesson %>

<div class="box_sep">
  <div class="title">
    <a href="/users/<%= @this_user.id %>"><img src="<%= student_pic(@this_user) %>" class="img-circle" width='40px'></a>
     <%=  @this_user.first_name %> <%= @this_user.last_name %>
  </div>

  
  <div class="body">

    <% if current_user.level_3 %>
      <% if @rehearsal.submission == true %>
        <div class="rehearsal_video">
          <div class="video_black_bg ziggeo_wrapper">
            <% @this_video_token = @rehearsal.video_token %>
            <% @this_added_class = 'rehearsal' %>
            <div class="ziggeo"><%= render './shared/ziggeoplayer' %></div>
          </div>
          <div class="lesson_script <%= @this_added_class %>_script">
            <%= simple_format(@rehearsal.script) %>
          </div>
        </div>

        <div class="feedback_video">
          <div class="ziggeo_wrapper">
            <% @this_added_class = 'feedback' %>
            <div class="ziggeo"><%= render './shared/ziggeorecorder' %></div>
          </div>

          <%= form_for [@rehearsal, @feedback],html: {class:"feedbackForm", id:"ziggeoRecorder"}, remote: true  do |f| %>
            <% if @feedback.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

                <ul>
                  <% @feedback.errors.full_messages.each do |messsage| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div style="display:none;">
            <%= f.text_field :rehearsal_id, type:"hidden", value:@rehearsal.id  %><br>
            <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
            <%= f.text_field :video_token, type:"hidden" %>
            <%= f.text_field :token, type:"hidden" %></div>
            <%= f.text_area :notes, placeholder:'Write them a note here...' %><br>
          <% end %>
            
        </div>
        <br>
        <button class='submit_ziggeo submit_feedback blue' style='float:right;' data-formname="feedback">
          Send Feedback
        </button>
        <button class='record_another_rehearsal blue' style='float:right; display:none;'>
            Record Another Feedback
        </button>
      <% end %>

    <% end %>
    
    <br>
    <button class="small_btn blue js-click_back">Back</button>

  </div>
</div>

<br><hr><br>

<div class="box_sep">
  <div class="title">
    OTHER REHEARSALS FOR :: <%= link_to @rehearsal.lesson.title, @link_to_lesson %>
  </div>

  <div class="body">

    <% @otherrehearsals.each_with_index do |rehearsal, index| %>
      <% @course = rehearsal.course %>
      <% if course_creator && rehearsal.submission == true %>
        <% @this_video_token = rehearsal.video_token %>

        <div class="rehearsal_thumbnail">
          <a href="<%= rehearsal_path(rehearsal) %>">
            <button class="shadebox_btn rehearsal_btn" data-rehearsal="<%= rehearsal.id.to_s %>" data-rehearsalnumber="Rehearsal #<%= (index + 1).to_s %>">
                Rehearsal <%= (index + 1).to_s %>
                <div class="<%= @rehearsal.id != rehearsal.id ? 'blankdot' : 'greendot' %>">
                </div><br>
                <%= render './shared/ziggeothumbnail' %><br>
                ref#: <%= genReherasalRef(rehearsal.id) %>
            </button>
          </a>
        </div>
      <% end %>
    <% end %>

  </div>
</div>