<% @this_user = @rehearsal.trainee %>
<% @link_to_lesson = course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>

<div class="top_info">
  <div class="course_title">
    Rehearsal submission for the lesson ::  
    <%= link_to @rehearsal.lesson.title, @link_to_lesson %>
  </div>
</div>


  <%= link_to @rehearsal.course.title, course_path(@rehearsal.course) %> >> 
  <%= link_to @rehearsal.topic.title, course_topic_path(@rehearsal.course, @rehearsal.topic) %> >>
  <%= link_to @rehearsal.lesson.title, @link_to_lesson %>

<div class="box_sep">
  <div class="title">
    <a href="/users/<%= @this_user.id %>"><img src="<%= student_pic %>" class="img-circle" width='40px'></a>
     <%=  @this_user.first_name %> <%= @this_user.last_name %>
  </div>

  <div class="lesson_half"></div>
  
  <div class="body">

    <% if current_user.level_3 %>
        <% if @rehearsal.submission == true %>
                <%= form_for [@rehearsal, @feedback],html: {id: "FeedbackForm"}, remote: true  do |f| %>
                    <% if @feedback.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

                          <ul>
                            <% @feedback.errors.full_messages.each do |messsage| %>
                                <li><%= message %></li>
                            <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <%= f.text_field :rehearsal_id, type:"hidden", value:@rehearsal.id  %><br>
                    <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
                    <%= f.text_field :video_token, type:"hidden" %>
                    <%= f.text_field :token, type:"hidden" %>
                <% end %>

                <div class="lesson_video_left lesson_vid" style="display:block;">
                  <div class="rehearsal_video">
                    <% @this_video_token = @rehearsal.video_token %>
                    <% @this_added_class = 'rehearsal' %>
                    <div><%= render './shared/ziggeoplayer' %></div>
                    <div class="lesson_script <%= @this_added_class %>_script">
                      <%= simple_format(@rehearsal.script) %>
                    </div>
                    <%= render './lessons/scriptcontrol' %>
                  </div>
                </div>

                <div class="lesson_video_right lesson_vid" style="display:block;">
                  <div class="rehearsal_video">
                  
                    <%= render './shared/ziggeorecorder' %>
                  
                    <br>

                    <%= form_for [@rehearsal, @feedback]  do |f| %>
                        <% if @feedback.errors.any? %>
                            <div id="error_feedback">
                              <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
                              <ul>
                                <% @feedback.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                <% end %>
                              </ul>
                            </div>
                        <% end %>
                        <%= f.text_area :notes, placeholder:'Write them a note here...' %><br>
                        <%= f.check_box :approved %> <strong>Mark Lesson Completed  </strong><br>
                        <%= f.submit 'Add Feedback', class:'blue' %>
                    <% end %>

                  </div>
                </div>
      <% end %>
    <% end %>
    
    <%= link_to 'Back', rehearsals_all_path %>

  </div>
</div>

<br><hr><br>

<div class="box_sep">
  <div class="title">
    OTHER REHEARSALS FOR :: <%= link_to @rehearsal.lesson.title, @link_to_lesson %>
  </div>

  <div class="body">

    <% @otherrehearsals.each_with_index do |rehearsal, index| %>
      <% @course = rehearsal.course %>
      <% if course_creator && rehearsal.submission == true %>
        <% @this_video_token = rehearsal.video_token %>

        <div class="rehearsal_thumbnail">
          <a href="<%= rehearsal_path(rehearsal) %>">
            <button class="shadebox_btn rehearsal_btn" data-rehearsal="<%= rehearsal.id.to_s %>" data-rehearsalnumber="Rehearsal #<%= (index + 1).to_s %>">
                Rehearsal <%= (index + 1).to_s %>
                <div class="<%= @rehearsal.id != rehearsal.id ? 'blankdot' : 'greendot' %>">
                </div><br>
                <%= render './shared/ziggeothumbnail' %><br>
                ref#: <%= genReherasalRef(rehearsal.id) %>
            </button>
          </a>
        </div>
      <% end %>
    <% end %>

  </div>
</div>