<div class="container">
  <div class="row">
    <div class="col-sm-12" style="padding:0; margin:0;">
      <h2><%= @student.first_name + " " + @student.last_name %></h2>
      These are all the rehearsals recorded for this lessons:
      <h4><%= link_to @lesson.title, course_topic_lesson_path(@lesson.topic.course, @lesson.topic, @lesson) %></h4>
    </div>
   
    <div class="col-sm-9" style="padding:0; margin:0 0 10px 0;">
      Filter rehearsals by: 
      <div class="rehearsal_filter selected" id="all_rehearsals" >All</div>
      <div class="rehearsal_filter" id="new_rehearsal" >New</div>
      <div class="rehearsal_filter" id="approved_rehearsal" >Approved</div>
      <div class="rehearsal_filter" id="rejected_rehearsal" >Rejected</div>
      <div class="rehearsal_filter" id="rehearsal_with_feedback" >With Feedback</div>
      <br>
    </div>
    <div class="col-sm-3" style="padding:0; margin:0; float:right; text-align: right;">

      <!-- <a href="/rehearsals/approve_all?student=<%= @student.id %>&lesson=<%= @lesson.id %>"><button class="green_sft" style="font-family:'gotham_light';">Mark all as reviewed</button></a> -->
    </div>
    
    <div class="col-sm-12">
      <% @rehearsals.each_with_index do |rehearsal, index| %>

          <% @r = 'rehearsal_bubble_'+ rehearsal.id.to_s %>
          <% @date_sub = time_diff(Time.now, rehearsal.created_at) %>

          <%= form_tag ("/rehearsals/"+rehearsal.id.to_s+"/api"), class: 'rehearsal_button', method: :get, remote: true do %>
              <button type="submit" id="rhs_<%= rehearsal.id %>" class="rehearsal_bubble" data-status="<%= rehearsal.check_status %>">
                <div class="pic" style="width:100% !important;">
                  <img src="https://embed.ziggeo.com/v1/applications/<%=ENV["ZIGGEO_TOKEN"]%>/videos/<%= rehearsal.video_token %>/image">
                </div>
                <br>
                <div class="info">
                  Submission - <%= index+1 %>
                  <div class="other_info">
                    <font size="0.1em">submitted <%= @date_sub %></font>
                  </div>
                </div>
              </button>
          <% end %>

      <% end %>

      <div class="open_rehearsal"></div>
    </div>
  </div>
</div>