<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= @thislesson.title %></span> :: Record Role Model
  </div>
</div>


<div class="box_sep">
  <div class="body">
    <%if @model.video_token == '' || @model.video_token.nil? %>
      <%= render './shared/ziggeorecorder' %>
    <% else %>
      <% @this_video_token = @model.video_token %>
      <div class="js-re_record_ziggeo"><%= render './shared/ziggeoplayer' %></div>
      <div class="js-recorded_player" style="display: none;"><%= render './shared/ziggeorecorder' %></div>
      <br>
      <button class="js-re_record red">Re-Record?</button>
    <% end %>

    <%= form_for [@lesson, @model],html: {id: "tokenForm"}, remote: true  do |f| %>
      <% if @model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :video_token, type:"hidden" %>
      <%= f.text_field :token, type:"hidden" %>

    <% end %> <br>

    <%= form_for [@lesson, @model]  do |f| %>
      <% if @model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@models.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @models.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :title, placeholder: 'Title' %><br>
      <%= f.text_area :script, placeholder: 'script' %><br>
      <%= f.select :language, (@languages) %>
      <%= f.select :language, (@privacy) %>
      <%= f.check_box :position_prior %> Primary Role Model<br>
      
      <%= f.submit 'Submit Role Model', class:'green_sft' %>
    <% end %>
    
    <br>
    <%= button_to "Delete Explanation", @model, class:'red', method: :delete, data: { confirm: 'Are you sure?' } %>

    <script >
    // this function is getting the video token from ZiggeoApi.Events
    function postVideoToken(videoToken, streamToken){
      // grab form by the id been display in the html and store it in a jquery object
      $form = $('#tokenForm');
      // grab the value field by its the id
      $ziggeotoken = $('#model_video_token');
      $webtoken = $('#model_token');

      // assign the value of that field we grab by its id to the value of postVideoToken
      $ziggeotoken.val(videoToken);
      $webtoken.val(streamToken);

      // the form we grabed earlier by its id gets submited to the server
      $form.submit();
      // $.ajax ({
      //   url : "/token",
      //   type : "post",
      //   data : {token: videoToken}
      // });
    };
    // function postStreamToken(streamToken){
    //
    // };
        ZiggeoApi.Events.on("submitted", function (data) {

            // getting the string token and storing it in videoToken var to ship it to the outside world
            var streamToken = data.stream.token
            var videoToken = data.stream.video_token
            console.log(videoToken);
            console.log(streamToken);

            // here is where we grab the token to escort it outside of the ziggeo api on click event
            postVideoToken(videoToken, streamToken);


            // console.log(streamToken);

        });
    </script>
  </div>
</div>
