<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= link_to @thislesson.title, course_topic_lesson_path(@course, @topic, @lesson) %></span> :: Record Role Model
  </div>
</div>


<div class="box_sep">
  <div class="body">
    <div class="lesson_half main_recorder">
      <%if @model.video_token == '' || @model.video_token.nil? %>
        <%= render './shared/ziggeorecorder' %>
      <% else %>
        <% @this_video_token = @model.video_token %>
        <div class="js-re_record_ziggeo"><%= render './shared/ziggeoplayer' %></div>
        <div class="js-recorded_player" style="display: none;"><%= render './shared/ziggeorecorder' %></div>
        <br>
        <button class="js-re_record red">Re-Record?</button>
      <% end %>
    </div>

    <%= form_for @model,html: {id: "modelsForm"}, remote: true  do |f| %>
      <% if @model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :video_token, type:"hidden" %>
      <%= f.text_field :token, type:"hidden" %>

    <% end %> <br>

    <%= form_for @model do |f| %>
      <% if @model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@models.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @models.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :title, placeholder: 'Title' %><br>
      <%= f.text_area :script, placeholder: 'script' %><br>
      <%= f.select :language, (@languages) %>
      <%= f.select :privacy, (@privacy) %>
      <%= f.check_box :position_prior %> Primary Role Model<br>

      <%= f.submit 'Submit Role Model', class:'green_sft' %>
    <% end %>

    <br>
    <%= button_to "Delete Model", @model, class:'red', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
