<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= link_to @thislesson.title, course_topic_lesson_path(@course, @topic, @lesson) %></span> :: Record Prompt
  </div>
</div>


<div class="box_sep">
  <div class="body">
    <div class="ziggeo_lesson_create main_recorder">
      <%if @prompt.video_token == '' || @prompt.video_token.nil? %>
        <div class="half js-ziggeo">
          <%= render './shared/ziggeorecorder' %>
        </div>
      <% else %>
        <% @this_video_token = @prompt.video_token %>
        <div class="js-re_record_ziggeo"><%= render './shared/ziggeoplayer' %></div>
        <div class="js-recorded_player" style="display: none;"><%= render './shared/ziggeorecorder' %></div>
        <br>
        <button class="js-re_record red">Re-Record?</button>
      <% end %>
    </div>

    <%= form_for @prompt,html: {id: "promptsForm"}, remote: true  do |f| %>
      <% if @prompt.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @prompt.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :video_token, type:"hidden" %>
      <%= f.text_field :token, type:"hidden" %>

    <% end %> <br>

    <%= form_for @prompt do |f| %>
      <% if @prompt.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@prompts.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @prompts.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.text_field :title, placeholder: 'Title' %><br>
      <%= f.text_area :script, placeholder: 'script' %><br>
      <%= f.select :language, (@languages) %>
      <%= f.select :privacy, (@privacy) %>
      <%= f.check_box :position_prior %> Primary Prompt<br>

      <%= f.submit 'Submit Prompt', class:'green_sft' %>
    <% end %>

    <br>
    <%= button_to "Delete Prompt", @prompt, class:'red', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
