<%= form_for [@course, @new_topic] do |f| %>
  <% if @new_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :status, type:"hidden", value: 0 %><br>
  <%= f.text_field :course_id, type:"hidden", value:params[:course_id] %><br>
  <%= f.text_field :instructor_id, type:"hidden", value:current_user.id %><br>
  <%= f.text_field :title, placeholder:'Title' %><br>
  <%= f.text_area :description, placeholder:'Description' %><br>
  <%= f.text_field :tags, placeholder:'tags (comma separated)' %><br>
  <%= f.submit %>

<%end%>
