<center><p id="notice"> <%= notice %> </p></center>

<div class="course_title">
  <%= @course.title %>
</div>


<p>
  <strong>
    <%= @topic.title %> <font color="#ccc">|</font> <%= link_to 'Edit', edit_course_topic_path %>
  </strong>
</p>

<p>
  <%= @topic.description %>
</p>

<h3>Listing Lessons</h3>
<p class="course_topic"><%= progress %>% progess<br>
  <progress class="course_topic" value="<%= progress %>" max="100"></progress>
</p>


<% @lessons.each_with_index do |lesson, index| %>
  Lesson <%= (index + 1).to_s %> - <%= link_to lesson.title, lesson %></td>
  <% if current_user.role == "admin" || current_user.role == "instructor" %>
    <%= link_to 'Delete', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class:'red_text' %>
  <% end %>
  <br>
  <br>
<% end %>


<hr>

<% if current_user.role == 'admin' || current_user.role == "instructor"  %>
  <a href="<%= new_lesson_path(@topic.id) %>">
    <button class="reg_btn blue">Create New Lesson</button>
  </a>
  <button class="reg_btn green_sft">Add External Lesson</button>
  <hr>
<% end %>


<a href="/courses/<%= @course.id %>"> <div class="back_button"> Back </div> </a>
