<!-- <center><p id="notice"> <%= notice %> </p></center> -->

<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= link_to @course.title, course_path(@course) %> :: </span>
  </div>
  <div class="course_title">
    <%= @topic.title %>
    <% if topic_creator %>
      <a href="<%= edit_course_topic_path(@course, @topic) %>" title="edit <%= @topic.title %>">
        <span class="ion-edit edit" style="font-size:15px; margin:50px 10px;"></span>
      </a>
    <% end %>
  </div>
</div>


<%= @topic.description %>


<br><br><br>

<h3>Lessons</h3>

<%if topic_creator || course_trainee || course_puplic %>
  <% @lessons.each_with_index do |lesson, index| %>
    <div class="lesson_list <%= (index + 1).even? ? 'even' : 'odd' %>">
      <a href="<%= course_topic_lesson_path(@course, @topic, lesson) %>">
        <div class="title">
          <%= lesson.title %>
        </div>
      </a>
      
      <% if course_trainee %>

        <% if topic_lesson_completion(lesson) == 0 %>
          <div class="pending_lesson" title="Rehearsal waiting for approval">
            <span class="ion-loop"></span>
          </div>
        <% elsif topic_lesson_completion(lesson) == 1 %>
          <div class="checked_lesson" title="Lesson Completed" >
            <span class="ion-checkmark-circled"></span>
          </div>
        <% elsif topic_lesson_completion(lesson) == 2 %>
          <div class="error_lesson" title="Lesson not mastered" >
            <span class="ion-alert"></span>
          </div>
        <% elsif !topic_lesson_completion(lesson) %>
          <div class="unchecked_lesson" title="Lesson not yet completed" ></div>
        <% end %>

      <% elsif topic_creator %>

        <% if topic_lesson_status(lesson) %>
          <div class="lesson_status ready"></div>
        <% else %>
          <div class="lesson_status notready"></div>
        <% end %>

        <div class="edit_lesson">
          <strong> | <%= link_to 'Edit', edit_course_topic_lesson_path(@course, @topic, lesson) %></strong>
        </div>


      <% end %>

    </div>
  <% end %>
<% end %>


<br><br><br>

<%if topic_creator %>
  <a href="<%= new_course_topic_lesson_path(@course, @topic) %>">
    <button class="reg_btn blue add_btn">+</button>
  </a>
  <!-- <button class="reg_btn green_sft">Add External Lesson</button> -->
  <br><br><br>
<% end %>


<br><br><br>
<%if !@topic.tags.empty? %>
  tags:
  <% @topic.tags.split(', ').each do |tag| %>
    <a href="#"><b><%= tag %></b></a>
  <%end%>
<%end%>
<br><br><br>



<br><br>
<button class="small_btn blue js-click_back">Back</button>