<!-- <center><p id="notice"> <%= notice %> </p></center> -->

<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= link_to @course.title, course_path(@course) if !@course.private? %> :: </span>
  </div>
  <div class="course_title">
    <%= @topic.title if !@course.private? %>
    <% if topic_creator %>
      <a href="<%= edit_course_topic_path(@course, @topic) %>" title="edit <%= @topic.title %>">
        <span class="ion-edit edit" style="font-size:15px; margin:50px 10px;"></span>
      </a>
    <% end %>
  </div>
</div>


<%= @topic.description if !@course.private? %>

<%if topic_creator || course_trainee %>

  <br>

  <h3>
    Lessons
    <%if course_creator %>
    <!-- <a href="<%= new_course_topic_lesson_path(@course, @topic) %>"> -->
      <button class="js-add_form_btn blue add_btn small" data-form="lesson">+</button>
    <!-- </a> -->
    <%end%>
  </h3>

  <%if topic_creator %>
    <div class="js-lesson_form" style="display:none;">
      <%= render './lessons/form' %>
    </div>
    <!-- <button class="reg_btn green_sft">Add External Lesson</button> -->
  <% end %>

  <% @lessons.order('id ASC').each_with_index do |lesson, index| %>
    <div class="lesson_list <%= (index + 1).even? ? 'even' : 'odd' %>" style="display:<%= (course_trainee && !topic_lesson_status(lesson)) ? 'none' : 'block' %>;">
      <a href="<%= course_topic_lesson_path(@course, @topic, lesson) %>">
        <div class="title">
          <%= lesson.title %>
        </div>
      </a>
      
      <% if topic_creator %>

        <% if topic_lesson_status(lesson) %>
          <div class="lesson_status ready"></div>
        <% else %>
          <div class="lesson_status notready"></div>
        <% end %>

        <div class="edit_lesson">
        <%= link_to 'Edit', edit_course_topic_lesson_path(@course, @topic, lesson) %>
        </div>

      <% elsif course_trainee %>
        <div class="lesson_completion_status <%= lesson.completion_status(current_user)[0] %>" title="<%= lesson.completion_status(current_user)[1] %>"></div>
      <% end %>

    </div>
  <% end %>


  <br><br>
  <%if !@topic.tags.blank? %>
    tags:
    <div class="tags-text"><% @topic.tags.split(', ').each do |tag| %>
      <a href="#"><%= tag %></a>
    <%end%>
  </div>
  <%end%>
  <br><br>

<% else %>
  
<center style="margin:50px auto 200px;">
    <br><br><br>
    You are not registered to this course<br>
    <%=  "This is a Free Course, click below to start." if @course.free? %>
    <%=  'This is a "Closed Course". You need an invitation from the course instructor.' if @course.private? %><br><br>
    <%= render './course_registrations/course_registration_form' if !course_creator %>
  </center>

<% end %>
 
<button class="small_btn blue js-click_back">Back</button>

<br><br>