<div class="title">
	<a href="<%= users_path %>">
	<button class="admin_btn">
		User Index 
		<div class="newUsers" style="display:<%= unapprovedUsers <= 0 ? 'none' : '' %>;">
			<%= unapprovedUsers.to_s %>
		</div>
	</button>
	</a>
</div>
<div class="body">

	<div class="js-my_courses_list">

		<h4>All Courses</h4>
		
		<div class="card_list admin_c_list">

			<% @all_courses.each do |course| %>
		        <%= render './courses/card', course_item: course %>
			<% end %>
			
		</div>

		<hr>
		
		<%= paginate @all_courses %>

	</div>

</div>	