<div class="container">
  <div class="row">

    <div class="col-12">
      <%= render './courses/mode/header' %> 
    </div>

    <div class="col-12">
      <h3>Curriculum</h3>
      <br>
      <% @course.topics_ready.each do |topic| %>
        <div class="topic">
          <h4><%= topic.title %></h4>
          <%= topic.description %>
          <br><br>
          <div class="trainee_lessons">
            <% topic.lessons_ready.each do |lesson| %>
              <% if topic_lesson_status(lesson) %>
                <a href="<%= course_topic_lesson_path( @course, topic, lesson ) %>">
                  <div class="trainee_lesson">
                    <div class="lesson_completion <%= lesson.completion_status(current_user)[0] %>" title="<%= lesson.completion_status(current_user)[1] %>"></div>              
                    <div class="lesson_title"><%= lesson.title %></div>
                  </div>
                </a>
              <% end %>
            <% end %>
          </div>

        </div>
        <br>
      <% end %>

    </div>

  </div>
</div>

