<div>Create a Group</div>
<%= form_for [current_user, @group] do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name, placeholder: '..name your group' %><br>
  <%= f.text_area :description, placeholder: '..give it a brief description' %><br>

    <span>Want it private</span> <%= f.check_box :privacy, {}, 1, 0 %><br>
  <%= f.submit %>
<% end %>

