<div class="shadebox_bg">
  <div class="shadebox">
    <div class="shadebox_header">
      <%= @group.name %>
      <% @this_user = User.find(@group.instructor_id) %>
      <button class="shade_close red small_btn">x</button>
    </div>
    <div class="shadebox_content" style="text-align:center;">
      <br>
      <button class="user_bubble">
        <img src="<%= student_pic(@this_user) %>"  class="img-circle">
        <div class="info"><%= @this_user.first_name+' '+ @this_user.last_name %><br>
      </button>
      <%= @group.description %>
      <hr>
    </div>
    <div class="shadebox_footer">
      <%= form_for [current_user, @group, @user_group ], remote: true, :html => { :class => "group_registration_form" } do |f| %>
          <%= f.submit "Register To Group", class:"green_sft shade_close" %>
      <% end %>
    </div>
  </div>
</div>

<script>
//  $('.rehearsal_btn').click(function(){
//    var rehearsalid = $(this).data('rehearsal');
//    var rehearsalNumber = $(this).data('rehearsalnumber');
//    console.log(rehearsalNumber);
//    console.log(rehearsalid);
//
//    $.ajax({
//      type:'GET',
//      url:'/rehearsals/'+rehearsalid+'/api',
//      success: function(data){
//        // console.log(data);
//        $('.put_title_here').html('Rehearsal #'+rehearsalNumber);
//        $('.put_video_here').html('<ziggeoplayer ziggeo-theme="modern" class="ziggeo_play_elem rehearsal_video" ziggeo-video="'+data.video_token+'" ziggeo-stretch> </ziggeoplayer>');
//
//        $('button.submission').data('rehearsalid', rehearsalid);
//        $('button.submission').data('rehearsalsubmission', data.submission);
//        changeSubmitButton(data.submission, data.id);
//      }
//    });
//  });
</script>