<%= @group.name %> <br>
<%= @group.description %>

<% if current_user.level_4 %>

  <%= form_for [current_user, @group, @user_group ]  do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
    <%= f.text_field :group_id, type:"hidden", value:@group.id %>
    <%= f.text_field :user_role, type:"hidden", value:current_user.role %>
    <%= f.submit 'register to group' %>
  <% end %>

<% end %>

<% if current_user.level_2 %>

  <%= form_for [current_user, @group, @group_registration ] do |f| %>
    <% if @group_registration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group_registration.errors.count, "error") %> prohibited this group to register a course:</h2>

        <ul>
        <% @group_registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :group_id, type:"hidden", value:@group.id %>
    <%= f.submit "Register this group for a Course"%>
  <% end %>

<% end %>
