<div class="title">
	<a href="<%= users_path %>">
	<button class="admin_btn">
		User Index 
		<div class="newUsers" style="display:<%= unapprovedUsers <= 0 ? 'none' : '' %>;">
			<%= unapprovedUsers.to_s %> new
		</div>
	</button>
	</a>
</div>
<div class="body">


	<div class="js-my_courses_list">

		<br>ALL COURSES:<br>
		
		<div class="admin_c_list card_list">

			<% @all_courses.each do |course| %>
		        <%= render 'coursecards', course_item: course %>
			<% end %>
			
		</div>

		<hr>
		
		<%= paginate @all_courses %>

	</div>

</div>	