<div class="body">

	<div class="section js-display_my_courses">
		<div class="js-my_courses_list card_list">
			
			<% if @courses.size > 0 %>
				<% @courses.order('id DESC').each_with_index do |course, index| %>

					<a class="js-c_<%= course.id %>" href="<%= first_lesson_path( course )%>">	
						<div class="card">
							<div class="card_title course">
								<%= course.title[0...25] %>
								<% if course.title.length > 25 %>
									...
								<% end %>
							</div>
							<div class="card_desc course">
								<%= course.description[0...110] %>
								<% if course.description.length > 110 %>
								... <span class="blue">more</span>
								<% end %>

								<div class="bottom_count">
									<% course.topics.each do |topic| %>
										<% if current_user.role == "trainee" %>
											<div class="circle_count <%= "done" if topic.is_completed(current_user) %>"></div>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>
					</a>

				<%end%>
			<%else%>
				<center style="margin:20px auto; width:400px;">
					<h1 style="color:#ddd;">NO COURSES YET</h1>
					<hr>
					<a href="/courses/search">
						<button class="big_btn blue" > Browse Courses </button>
					</a>
					<br>
					<br>
					<% if current_user.level_2 %>
						<a href="/users/<%= current_user.id.to_s %>?view=creator_space&group=top">
							<button class="big_btn green_sft" > Create a course </button>
						</a>	
					<% end %>
				</center>
			<%end%>

		</div>

	</div>
	
	<% if current_user.level_2 && current_user.courses.size > 0 %>
		Courses you created ( last 4 ): <br>
		<div class="card_list">
			<% current_user.courses.order('id DESC').limit(4).each do |course| %>
				<% @course_item = course %>
		        <%= render 'coursecards' %>
		    <% end %>
		</div>
    <% end %>

</div>