
<div class="js-display_my_courses" style="display: none;"></div>

<div class="js-all_courses js-my_courses_list">

	<div class="card_list">

		<% current_user.courses.each do |course| %>

	        <div class="home_card">
	        	<div class="card_title">
			        <a href="<%= course_path(course) %>" class="js-c_<%= course.id %>" >
			        	<div class="title_name">
			        		<%= course.title %>
			        	</div>
			        </a>

			        <div class="card_delete js-delete_<%= course.id %>">
			        	<%= link_to "X", course, method: :delete, data: { confirm: 'Are you sure?' } %>
			        </div>
		            
		            <a href="<%= edit_course_path(course) %>" >
			            <div class="card_edit js-edit_<%= course.id %>">
			            	<span class="ion-edit"></span>
			            </div>
			        </a>
			    </div>
			    <div class="card_desc">
					<%= course.description[0...130] %>
					<% if course.description.length > 130 %>
		               ... <span class="blue">more</span>
		            <% end %>

	        <% course.topics.each do |top| %>
				<div class="circle_count"></div>
		    <% end %>
			    </div>
	        </div>

	    <% end %>

	</div>

</div>

<div class='js-course_form_hide'>
	<div class="js-open_form" style="display:none;">
		<%= render './courses/form' %>
	</div>
	<button class="js-show_form js-course_form small_btn green_sft">Create New Course</button>
</div>

<!-- <a href="<%= new_course_path %>"><button>Create new Course</button></a> -->
