<% if chat_notif > 0 %>
	<div class="box_sep interface_info_box">
		<div class="title" style="background-color:#FFD429; color:black;">
			New Feedbacks
		</div>

		<a href="<%= feedback_all_path %>">
			<div class="body number_of_notif"><%= feedback_notif.to_s %></div>
		</a>
	</div>
<% end %>

<% if registered_lessons.to_i>0 || feedback_notif>0 || rehearsals_notif.to_i>0 %>
	<div class="top_info">
		<% if registered_lessons.to_i > 0 %>	
			<!-- <div class="user_stat">
				<div class="number">
					<span class="completed"><%= lessons_completed %></span> of <%= registered_lessons %>
				</div>
				<div class="stat"> Lessons completed </div>
			</div> -->
		<% end %>
		<% if feedback_notif > 0 %>
			<div class="user_stat">
				<div class="number">
					<a href="<%= feedback_all_path %>"><span class="num"><%= feedback_notif.to_s %></span></a>
				</div>
				<div class="stat"> Feedback </div>
			</div>
		<% end %>
		<% if rehearsals_notif.to_i > 0 %>
			<div class="user_stat">
				<div class="number">
					<a href="<%= rehearsals_all_path %>"><span class="num"><%= rehearsals_notif.to_s %></span></a>
				</div>
				<div class="stat"> Rehearsal Sumbissions </div>
			</div>
		<% end %>
	</div>
<% end %>