
<h3 style="margin-top:0;"> Users Index </h3>
<hr>

<div class="filter_users" style="overflow:hidden;">
  <button class="left" > <%= link_to "All Users", :action => "index" %> </button>
  <button class="left" > <%= link_to "Inactive Users", :action => "index", :approved => "false" %> </button>

  <button class="right" ><%= link_to :Admins, action: :index, role:'admin' %> </button>
  <button class="right" ><%= link_to :Instructors, action: :index, role:'instructor' %> </button>
  <button class="right" ><%= link_to :Coaches, action: :index, role:'coach' %> </button>
  <button class="right" ><%= link_to :Trainees, action: :index, role:'trainee' %> </button>
</div>


<h4>
  <%= 'New Users' if params[:approved] == 'false' %>
  <%= params[:role].capitalize.pluralize if params[:role] %>
</h4>
<hr>

<div class="batch_update">
  <%= form_tag batch_update_users_path, method: :post do %>
    <%= hidden_field_tag :list_ids, nil, class:'list_ids' %>
    <%= select_tag :approved, options_for_select([["Choose Status",nil], ["Activate", true],["De-Activate", false], ['Delete', 'delete']])  %>
    
    <% @roles = [['Choose a Role', nil]] %>
    <% User.roles.keys.reverse.each { |role| @roles << [role.titleize,role] } %>
    
    <%= select_tag :role, options_for_select(@roles)  %>

    <%= submit_tag :update, class:'blue green_sft' %>
  <% end %>
  <hr>
</div>

<div class="body user_list">
  <% if @users.size > 0 %>

    <% @users.each_with_index do |user, index| %>
      <div class="user_item <%= 'odd' if index.odd? %>" id="<%= user.id %>">

        <div class="select <%= 'inactive' if !user.approved %>">
          <span class="ion-android-checkbox-outline-blank" ></span>
        </div>

        <img src="<%= student_pic(user) %>"  class="image img-circle" width="100%" >
        
        <div class="info">
          <%= user.full_name %>
          <br>
          <span class="role"><%= user.role %></span>
        </div>

        <div class="edit">
          <%= 'Not Active' if !user.approved %>
        </div>

        <div class="delete">
          <!-- <span class="ion-ios-close-outline" ></span> -->
          <%= link_to '', user_path(user), :data => { :confirm => "Are you sure you want to delete #{user.full_name}'s account ?" }, :method => :delete, :class => 'small_btn ion-ios-close-outline red' %>        
        </div>

      </div>
    <% end %>
  
  <% else %>
    <center>
      <h3 style="color:#ccc;" >No Users</h3>
    </center>

  <% end %>
  
</div>



<script>
  let list = new Array;
  $('.user_item .select').hover(function(){
    $(this).closest('.user_item').toggleClass('highlithed');
  });

  $('.user_item .select').click(function(){
    let item = $(this).closest('.user_item');
    item.toggleClass('selected');
    item.find('.select span').toggleClass('ion-android-checkbox-outline-blank ion-android-checkbox')

    if( list.includes( item[0].id ) ){
      let ind = list.indexOf( item[0].id );
      list.splice(ind, 1);
    }else{
      list.push(item[0].id);
    }

    $('.list_ids').empty();
    $('.list_ids').val(list.join(','));

    if( $('.list_ids').val().length != 0 ){
      $('.batch_update').show();
    }else{
      $('.batch_update').hide();
    }
  });
</script>