<div class="box_sep">
  <div class="title">
    <%= link_to "All Users", :action => "index" %> |
    <%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
  </div>
<!-- 
  <div class="title" style="background-color:#FFE7E1;">
    <button class="green_sft small_btn">Batch Modify</button>
    not yet functional
  </div> -->

  <div class="body">
    <% @users.order("first_name, last_name").each do |user| %>
      <div class="user_card">
        <div class="image"><img src="<%= student_pic(user) %>"  class="img-circle" width="100%" ></div>
        <div class="user_info">
          <b style="font-family:'gotham';"><%= user.first_name%> <%= user.last_name%></b><br>
          <%= link_to user.email, user %>
          <%= form_for(user) do |f| %>
            <%= f.select( :role, User.roles.keys.map {|role| [role.titleize,role]} ) %>
            <%= f.select :approved, [['Active', true], ['Inactive', false]] %>
            <%= f.submit 'Modify User', class:'small_btn green_sft' %>
          <% end %>
            <%= user == current_user ? button_to('Edit Account', edit_user_path(current_user), class:'blue small_btn') : button_to('Delete user', user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'small_btn red') %>
        </div>
      </div>
    <% end %>
  </div>
</div>