<div class="top_info"> 
	<div class="user_name"><%= current_user.first_name %> <%= current_user.last_name %></div>
	<div class="user_stat">
		<div class="number">0</div>
		<div class="stat"> Courses completed</div>
	</div>
	<div class="user_stat">
		<div class="number">0</div>
		<div class="stat"> Pending Courses</div>
	</div>
</div>
<div class="top_fix"> 

	<br>

	<%if current_user.role == 'trainee' %>

		<%= render "trainee" %>

	<% elsif current_user.role == 'author' || current_user.role == 'admin' %>

		<%= render "author_admin" %>
		<a href="<%= new_course_path %>"><button class="reg_btn green_sft">Create New Course</button></a>
		
	<% end %>
	
	<br>
	<br>

</div>
