<div class="main_title">
	<%= current_user.role.capitalize %> Dashboard
</div>

<%= render 'topinfo' %>

<% if current_user.level_4 %>
	<button class="tab selected" data-frame="my_courses" data-group='top'>My Courses</button>
<% end %> <% if current_user.level_3 %>
	<!-- <button class="tab" data-frame="coaching_tools" data-group='top'>Coaching Tools</button> -->
<% end %> <% if current_user.level_2 %>
	<button class="tab" data-frame="instructor_tools" data-group='top'>Instructor Tools</button>
<% end %> <% if current_user.level_1 %>
	<button class="tab" data-frame="admin_tools" data-group='top'>Admin Tools</button>
<% end %> 

<div class="box_sep">
	
	<div class="all_content js-my_courses_content">
		<%= render './users/dashboard/my_courses' if current_user.level_4 %>
	</div>


	<div class="all_content js-coaching_tools_content" style="display: none;">
		<%= render './users/dashboard/coachingtools' if current_user.level_3 %>
	</div>


	<div class="all_content js-instructor_tools_content" style="display: none;">
		<%= render './users/dashboard/instructor_tools' if current_user.level_2 %>
	</div>


	<div class="all_content js-admin_tools_content" style="display: none;">
		<%= render './users/dashboard/admintools' if current_user.level_1 %>
	</div>
	
	<% if current_user.level_2 %>		
		<div class="courseForm"></div>
	<% end %>

</div>