<div class="site_wrapper" style="padding-top:5%;">
	<!-- Change the width and height values to suit you best -->
	<!-- <div class="typeform-widget" data-url="https://videorehearser.typeform.com/to/UJHxYm" data-text="Contact Form" style="width:100%;height:500px; background-color:#fff;"></div> -->

	<center><h2>Contact us</h2></center>
	<%= form_for @demo, html:{ style:'max-width:600px; margin:50px auto;' }, remote: true do |d| %>
		<%= d.text_field :first_name, placeholder:'First name *', class:'js-first_name js-form half' %>
		<%= d.text_field :last_name, placeholder:'Last name *', class:'js-last_name js-form half' %>
		<%= d.text_field :email, placeholder:'Email *', class:'js-email js-form full' %>
		<%= d.text_field :phone_number, placeholder:'Phone number', class:'js-phone_number js-form full' %>
		<%= d.text_area :messagecontent, placeholder:'Message', class:'full' %><br>
		<%= d.submit "Send", class:'js-schedule_demo green_sft' %>
		<div class="form_err">  </div>
	<%end%>
	<div class="thank_you_contact">
		<br><br>Thank you :)
	</div>
	<div class="err_contact">
		You missed a field
	</div>
	
	<!-- <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script> -->
</div>