	<div class="home_top_wrapper" style="background-image:url('<%= image %>/home/frame_home_1.jpg');">
		<div class="home_top">
	
	
			<%= render 'layouts/menu' if menu_welcome %>
	
	
			<!-- <div id="home_top_text" class="center_right">
				<div class="content">
					<span class="ht3">A video Training Platform</span><br>
					<span class="ht2">ENGINEERED TO TRANSFORM</span><br>
				</div>
				<button class="demo">Schedule Demo</button>
				<button class="learn_more">Learn more...</button>
			</div> -->



			<!-- <div class="demo_box">
				<div class="demo_separation"></div>
				<div class="demo_form" style="display:none;">
					<h2>Schedule a Demo</h2>
					<%= form_for @demo, remote: true do |d| %>
						<%= d.text_field :first_name, placeholder:'First name *', class:'js-first_name js-form half' %>
						<%= d.text_field :last_name, placeholder:'Last name *', class:'js-last_name js-form half' %>
						<%= d.text_field :email, placeholder:'Email *', class:'js-email js-form full' %>
						<%= d.text_field :phone_number, placeholder:'Phone number', class:'js-phone_number js-form full' %>
						<div class="half" style=" width: calc(100% - 155.39); font-size: 18px; padding: 10px 0; float: left; text-align: left;">
							Set a date:
						</div>
						<%= d.date_field :date, class:'js-date half'%><br>
						<%= d.submit "schedule demo", class:'js-schedule_demo green_sft' %>
						<button class="js-cancel_sched red">cancel</button>
						<div id="notice_demo_err">  </div>
					<%end%>
				</div>
				<div class="check_mark" style="display:none;"></div>
				<div id="notice_demo">
					Thank you for scheduling a demo, we will contact you soon.
				</div>
				<div id="notice_demo_err"></div>
			</div> -->


			<div class="container" style="padding-top:8%;">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-6 left_text" style="color:white;">
						<h1 class="bold white" >
							Train your staff 
							<br>
							to perform better.
						</h1>
						<br>
						<h4 class="white" >
							We help HR departments in companies scale their 
							<br>
							training through video. Our platform is engineered to 
							<br>
							improve on-the-job performance.
						</h4>
						<br>
					</div>
					<div class="col-sm-4">
						<div class="demo_form">
							<h2>Schedule a Demo</h2>
							<%= form_for @demo, remote: true do |d| %>
								<%= d.text_field :first_name, placeholder:'First name *', class:'js-first_name js-form half' %>
								<%= d.text_field :last_name, placeholder:'Last name *', class:'js-last_name js-form half' %>
								<%= d.text_field :email, placeholder:'Email *', class:'js-email js-form full' %>
								<!-- <%= d.text_field :phone_number, placeholder:'Phone number', class:'js-phone_number js-form full' %> -->
								<!-- <div class="half" style=" width: calc(100% - 155.39); font-size: 18px; padding: 10px 0; float: left; text-align: left;">
									Set a date:
								</div>
								<%= d.date_field :date, class:'js-date half'%><br> -->
								<%= d.submit "schedule demo", class:'js-schedule_demo green_sft' %>
								<button class="js-cancel_sched red">cancel</button>
								<div id="notice_demo_err">  </div>
							<%end%>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
	
		</div>
	</div>
	
	
	
	<div class="home_top_info overview" data-topinfo='overview' style="background-color:#fff;">
	
		<hr style="margin:50px 0; border: #fff;">
		<div class="home_sec">
			<a href="/overview" style="color:#666; font-size:30px;">
				<img src="<%=image%>/transform.svg" width="100px"><br>
				BUILT WITH THE LEARNER IN MIND
			</a>
		</div>
		<hr style="margin:50px 0; border: #fff;">
	
	
		<div class="info_box thrd">
			<div class="title">User Generated Content</div>
			<div class="desc">Easily create and upload lessons.</div>
		</div>
	
		<div class="info_box thrd">
			<div class="title">Engineered Training</div>
			<div class="desc">Uses natural learning processes.</div>
		</div>
	
		<div class="info_box thrd">
			<div class="title">Cloud-based learning</div>
			<div class="desc">Access content anywhere at anytime.</div>
		</div>
		
		<br><br><br><br>
		<a href="/users/sign_up">
			<button class="blue big_btn" style="font-size:15px;"> Request Access </button>
		</a>
		<br><br><br><br>
	
	</div>

	


	<div class="container wrapper">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-6" style="margin:40px 0;">
				<h1> HOW? </h1>
				<h3> Virtual Onboarding</h3>
				<h5 style="color:#999;" >
					Effective on-boarding is critical because it helps new hires 
					<br>
					add value quickly, as well as become engaged and 
					<br>
					productive members of the company workforce.
				</h5>
				<br>
				<!-- button.small Learn More -->
			</div>
			<div class="col-sm-6 bg_fixed" style='background-image:url("<%= image %>/home/customer_service.jpeg"); height:inherit; min-height:300px;'></div>
		</div>
	</div>



	<div class="container-fluid bg_scroll" style='background-image:url("<%= image %>/home/job_interview_1.jpg"); padding:0;'>
		<div class="container-fluid black_transp" style='margin:0; padding-top:100px; padding-bottom:100px;'>
			<div class="row wrapper">

				<div class="col-sm-4"></div>
				
				<div class="col-sm-8 right_text">
					<h1 class="white"> IMPROVE PERFORMANCE </h1>
					<h3 class="white"> Increase your ROI </h3>
					<h5 class="white">
						Through consistent, efficient, and cost-effective training. 
						<br>
						videoRehearser uses social learning, neurobehavioral and  
						<br>
						educational principles to engineer training
						<br>
						that leads to a better performing team.
					</h5>
				</div>

			</div>
		</div>
	</div>


	<!-- Interview Skills
	Sales Training
	Customer Service
	Presentation Skills
	English Pronunciation
	Hospitality -->


	<div class="container" style='padding-top:60px; padding-bottom:60px;'>
		<div class="row">
			<div class="col-sm-12" style="text-align:center;">
				<h1> When can you use videoRehearser? </h1>
			</div>
			<div class="col-sm-4" style="text-align:center;">
				<br>
				<img src="https://image.flaticon.com/icons/svg/538/538899.svg" width="60px">
				<br>
				<br>
				<h4> During On-boarding. </h4>
				<h4> To maintain consistent branding. </h4>
			</div>
			<div class="col-sm-4" style="text-align:center;">
				<br>
				<img src="https://image.flaticon.com/icons/svg/538/538905.svg" width="60px">
				<br>
				<br>
				<h4> To simulate new techniques. </h4>
				<h4> When you update messaging. </h4>
			</div>
			<div class="col-sm-4" style="text-align:center;">
				<br>
				<img src="https://image.flaticon.com/icons/svg/538/538889.svg" width="60px">
				<br>
				<br>
				<h4> To assess performance. </h4>
				<h4> Professional development. </h4>
			</div>
		</div>
	</div>




	<div class="wrapper" style="padding:50px 10px 50px; margin-top:0; text-align: center; overflow:hidden;">
		
		<h1> Industries and Departments </h1>
		<br>
		<br>
		<div class="home_course small" style="background-image:url('<%=image%>/home/interview.jpeg');">
			<div class="content">
				<div class="title">
					Interview Training
				</div>
			</div>
		</div>
	
		<div class="home_course small" style="background-image:url('<%=image%>/home/sales_training.jpeg');">
			<div class="content">
				<div class="title">
					Sales Training
				</div>
			</div>
		</div>
		<div class="home_course small" style="background-image:url('<%=image%>/home/customer_service.jpeg');">
			<div class="content">
				<div class="title">
					Customer Service
				</div>
			</div>
		</div>
	
		<div class="home_course small" style="background-image:url('<%=image%>/home/presentation.jpeg');">
			<div class="content">
				<div class="title">
					Presentation Skills
				</div>
			</div>
		</div>
		<div class="home_course small" style="background-image:url('<%=image%>/home/pronunciation.jpeg');">
			<div class="content">
				<div class="title">
					Pronunciation
				</div>
			</div>
		</div>
		<div class="home_course small" style="background-image:url('<%=image%>/home/hospitality.jpeg');">
			<div class="content">
				<div class="title">
					Hospitality
				</div>
			</div>
		</div>
		
	</div>



	<div class="container-fluid bg_scroll" style='background-image:url("<%= image %>/home/bg1.jpg"); padding:0;'>
		<div class="container-fluid blue_transp" style='margin:0; padding-top:100px; padding-bottom:100px;'>
			<div class="row wrapper">

				<div class="col-sm-8">
					<h1 class="white"> Virtual Training </h1>
					<h3 class="white">
						Deliver the type of interactive virtual 
						<br>
						learning demanded by the millenial workforce.
					</h3>
					<h5 class="white">
						By 2020, Millennials will make up 35% 
						<br>
						of the global workforce. 
					</h5>
				</div>

				<div class="col-sm-4"></div>

			</div>
		</div>
	</div>



	

	<div class="container" style='padding-top:60px; padding-bottom:60px; max-width:500px; magin:auto;'>
		<div class="row">
			<div class="col-sm-12">
				<center>
					<h1> What they are saying. </h1>
					<br>
					<div style="max-width:400px; font-size:20px; margin:20px auto;">
						<i> "I am able to save time, effort, and money by using video Rehearser to engage my team. The platform puts the emphasis on the LEARNER and uses engineered training to improve employee performance, morale, and satisfaction" </i>
					</div>
					<br>
					<br>
					<div class="right_text"> - Daniel Sharon </div>
				</center>
			</div>
		</div>
	</div>
	



	<div class="container-fluid" style='background-color:#fff;'>
		<div class="row " style=" margin:50px;">
			<div class="col-sm-4" style="text-align:center;">
				<img src="<%= image %>/partnership/mdc.jpg" style="max-width:250px; min-width:100px;">
			</div>
			<div class="col-sm-4" style="text-align:center;">
				<img src="<%= image %>/partnership/meetup.jpg" style="max-width:250px; min-width:100px;">
			</div>
			<div class="col-sm-4" style="text-align:center;">
				<img src="<%= image %>/partnership/year_up.jpg" style="max-width:250px; min-width:100px;">
			</div>
		</div>
	</div>






	
	<div class="devices" style="background-image:url('<%=image%>/home/device_bg.jpg');">
		<div class="halfsec">
		<div class="devicetext">
			<span class="from_anywhere">
				Easy to use
			</span>
			<br>
			All you need is a working webcam
		</div>
			<img class="computers" src="<%=image%>/home/devices.png" alt="">
			<img class="camera" src="<%=image%>/home/camera.png" alt="">
		</div>
	</div>
	


	
	<div style="width:100%; padding:100px 0 0; background-color:#fff;">
	</div>
	
	
	
	
	
	<script>
	 (function(n,i,_n,j,a){
	   n.addEventListener("DOMContentLoaded", function() {
	   i['liveninja'] = ["https://messenger.liveninja.com/w/video-rehearser?frame=true"];
	   var _n = n.createElement('script');
	   var j = n.getElementsByTagName('script')[0];
	   _n.async = 1;
	   _n.src='https://messenger.liveninja.com/w/assets/widget.js';
	   j.parentNode.insertBefore(_n, j);
	 })})(document, window);
	</script>
	