<div class="container-fluid">
	<div class="row wrapper padding">
		<div class="col-sm-12 center_text">

			<h2>Transform the way <br> your company trains.</h2>
			<h5 style="color:#999;"> Adaptive microlearning built for enhanced job performance. </h5>
			<br>
			<a href="/contact/">
				<button class="big_btn blue">
					Start for free
				</button>
			</a>
			or you can
			<a href="#demo" style="color:#0070C0; text-decoration:underline;"> Request a Demo. </a>
			<img src="/assets/top_img.png" width="80%">
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12 box-4">

			<div class="shadow_box">
				<img src="https://image.flaticon.com/icons/svg/126/126122.svg">
				<br>
				<br>
				<h6>Coaching & Supervision</h6>
				<br>
				<br>
			</div>

			<div class="shadow_box">
				<img src="https://image.flaticon.com/icons/svg/753/753114.svg">
				<br>
				<br>
				<h6>Customer Service</h6>
				<br>
				<br>
			</div>

			<div class="shadow_box">
				<img src="https://image.flaticon.com/icons/svg/313/313011.svg">
				<br>
				<br>
				<h6>Sales & Compliance</h6>
				<br>
				<br>
			</div>

			<div class="shadow_box">
				<img src="https://image.flaticon.com/icons/svg/188/188379.svg">
				<br>
				<br>
				<h6>Hospitality & Leisure</h6>
				<br>
				<br>
			</div>
			
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row wrapper" style="padding:60px 0;">
		<div class="col-sm-12 center_text">

			<h4>Your People are Your Greatest Asset</h4>

		</div>
	</div>
</div>



<div class="wrapper" id="overview">
	<div class="box-2 image_text">
		<div class="text">
			<h4>Engage your learners leveraging <br> neurobehavioral principles.</h4>
			85% of every training dollar is spent just getting people into a room. Turn your training budget into an asset.
			<br>
			<br>
			<h6>Training paths designed by experienced educators.</h6>
			<h6>Scale your best practices leveraging your own talent.</h6>
			<h6>Create and deliver engaging and effective lessons.</h6>
			<br>
			<a href="https://www.youtube.com/watch?v=UED7BvAtN8I" target="_blank" style="color:#0070C0; text-decoration:underline;">Learn more</a>
		</div>

		<div class="image">
			<img src="/assets/home_illustration_1.jpg" style="width:100%;">
		</div>
	</div>
</div>




<div class="container" style="margin-top:100px; margin-bottom:50px;">
	<div class="row">
		<div class="col-sm-12 box-3 center_text">
			<div class="box">
				<img src="https://image.flaticon.com/icons/svg/681/681649.svg" style="min-width:50px; max-width:70px;">
				<br>
				<br>
				<h5>1. Capture the teachable moment.</h5>
				Create a lesson in three easy steps
				<br> or upload an existing video or media.
			</div>

			<div class="box">
				<img src="https://image.flaticon.com/icons/svg/326/326731.svg" style="min-width:50px; max-width:70px;">
				<br>
				<br>
				<h5>2. Share instantly with your learners.</h5>
				Leverage personalized learning
				<br> and empower your people.
			</div>

			<div class="box">
				<img src="https://image.flaticon.com/icons/svg/160/160127.svg" style="min-width:50px; max-width:70px;">
				<br>
				<br>
				<h5>3. Transformation through feedback.</h5>
				Use the platforms’ empowerment
				<br> oriented techniques to train.
			</div>
		</div>
	</div>
</div>

<br><br>

<div class="wrapper">
	<div class="box-2 image_text">
		<div class="image">
			<img src="/assets/home_illustration_2.png" style="width:100%; max-width:550px;">
		</div>

		<div class="text">
			<h4>The future of online <br> training has arrived.</h4>
			We use an authentically interactive interface to ensure that learners are able to apply what they’ve learned and iterate
			based on self-feedback and coaching. Your business success is based on performance, not badges.
			<br>
			<br>
			<h6>Simulate difficult moments for improved onboarding.</h6>
			<h6>Empower supervisors with a tool that saves time and energy.</h6>
			<h6>See where your team needs help and support.</h6>
			<br>
			<a href="#" style="color:#0070C0; text-decoration:underline;">Learn more</a>
		</div>
	</div>
</div>


<div class="wrapper">
	<div class="box-2 image_text">
		<div class="text">
			<h4>Automatically engage with your people at the right time.</h4>
			Share the best practice. Invite stakeholders to learn how to improve their existing performance.
			<br>
			<br>
			<h6>Design lessons using our structured process</h6>
			<h6>Segment learners based on capabilities</h6>
			<h6>Automate your training processes and techniques</h6>
			<h6>Spend more time growing your business</h6>
			<br>
			<a href="#" style="color:#0070C0; text-decoration:underline;">Learn more</a>
		</div>

		<div class="image">
			<img src="/assets/home_illustration_3.png" style="width:100%; max-width:550px;">
		</div>
	</div>
</div>


<div class="container-fluid companies_list">
	<div class="row wrapper" style="padding:20px 0 60px;">
		<div class="col-sm-12 center_text">
			<h3>Used to train employees at <br> some of your favorite companies.</h3>
			<h6> Our patented coaching and training process leads to improved employee performance. </h6>
			<br>
			<br>
			<div class="box-5">
				<div>
					<img src="<%= image %>/partnership/mdc.png" width="90%">
				</div>
				<div>
					<img src="<%= image %>/partnership/wells_fargo.png" width="90%">
				</div>
				<div>
					<img src="<%= image %>/partnership/linked_in.png" width="90%">
				</div>
				<div>
					<img src="<%= image %>/partnership/google.png" width="90%">
				</div>
				<div>
					<img src="<%= image %>/partnership/american_express.png" width="90%">
				</div>
			</div>
		</div>
	</div>
</div>

<div id="demo" class="bottom_form">
	<h3>Request a DEMO</h3>
	<h6>No contract, no set-up costs, just an incredible training experience.</h6>
	<br>
	<%= form_for( Demo.new , remote: true) do |f| %>
		<%= f.text_field :email, placeholder: :email %>
		<%= f.submit "Request Demo" %>
	<% end %>
	<h6><a href="<%= pricing_url %>" style="color:#0070C0; text-decoration:underline;">view our pricing</a></h6>	
</div>
