
<video poster="/assets/better_you.jpg" id="bgvid" playsinline autoplay muted loop>
	<source src="<%=image%>/homepage.mp4" type="video/mp4">
</video>
<!-- <div class="home_top_wrapper" style="background-image:url('/assets/better_you.jpg');"> -->
<div class="home_top_wrapper">
	<div class="home_top">

		<div id="home_top_text" class="center_right">
			<div class="content">
				<span class="ht3">Rehearse to become</span><br>
				<span class="ht1">A BETTER YOU</span><br>
			</div>
			<button class="demo">Schedule Demo</button>
			<button class="learn_more">Learn more...</button>
		</div>

		<div class="demo_box">
			<div class="demo_separation"></div>
			<div class="demo_form" style="display:none;">
				<h2>Schedule a Demo</h2>
				<%= form_for @demo, remote: true do |d| %>
					<%= d.text_field :first_name, placeholder:'First name *', class:'js-first_name js-form half' %>
					<%= d.text_field :last_name, placeholder:'Last name *', class:'js-last_name js-form half' %>
					<%= d.text_field :email, placeholder:'Email *', class:'js-email js-form full' %>
					<%= d.text_field :phone_number, placeholder:'Phone number', class:'js-phone_number js-form full' %>
					<div class="half" style=" width: calc(100% - 155.39); font-size: 18px; padding: 10px 0; float: left; text-align: left;">
						Set a date:
					</div>
					<%= d.date_field :date, class:'js-date half'%><br>
					<%= d.submit "schedule demo", class:'js-schedule_demo green_sft' %>
					<button class="js-cancel_sched red">cancel</button>
					<div id="notice_demo_err">  </div>
				<%end%>
			</div>
			<div class="check_mark" style="display:none;"></div>
			<div id="notice_demo">
				Thank you for scheduling a demo, we will contact you soon.
			</div>
			<div id="notice_demo_err"></div>
		</div>

		<!-- <div class="home_top_text">

	    	<div class="home_info_1">
	    		<span class="js-start">Learn</span>
	    		<span class="js-title" style="display:none;" >
	    			videoRehearser
	    		</span>
	    		<span class="js-learn_home"> Anything </span>
	    		Virtual Video Training & Coaching Platform
	    	</div>

	    </div> -->




		<div class="search_section">
			<a href="#"><div class="search_popup">Search Courses</div></a>
			<div class="search_box">
				<script type="text/javascript"> allCoursesjson('<%= @courses %>') </script>
		    	<form action="/courses_search/api" class="search_course_form" method="post">
			    	<input type="text" name="search" class="search_course_term" placeholder="Search Courses">
			    	<select id="search_course_type" name="search_course_type">
			    		<option value="all">All</option>
			    		<option value="paid">Paid</option>
			    		<option value="free">Free</option>
			    		<option value="invite">Invite</option>
			    	</select>
			    	<button class="blue search_course_btn" type="submit">Search</button>
			    </form>
		    </div>
		</div>
	</div>
</div>




<div class="home_submenu">
	<div class="search_results_home">
		<div class="result_search_terms"></div>
		<hr>
		<div class="search_result">NO RESULTS FOUND</div>
		<div class="search_tags"></div>
	</div>
	<div class="menu">
		<% submenu = ['Overview', 'Teach', 'Learn', 'Create', 'Managers'] %>

		<% submenu.each do |sub| %>
			<div class="submenu_item" data-topinfo='<%= sub.downcase %>'>
				<span class="text"><%= sub.upcase %></span>
			</div>
		<% end %>
	</div>
</div>


<div class="home_top_info overview" data-topinfo='overview' style="background-color:#fff;">


	<!-- <a href="/markets"><div class="info_box qtr">
		<div class="image" style="background-image: url('<%=image%>/home/interview_training.jpg');"></div>
		<div class="title blue">Interview Training</div>
	</div></a>
	<a href="/markets"><div class="info_box qtr">
		<div class="image" style="background-image: url('<%=image%>/home/customer_service.jpg');"></div>
		<div class="title blue">Customer Service</div>
	</div></a>
	<a href="/markets"><div class="info_box qtr">
		<div class="image" style="background-image: url('<%=image%>/home/sales_training.jpg');"></div>
		<div class="title blue">Sales Training</div>
	</div></a>
	<a href="/markets"><div class="info_box qtr">
		<div class="image" style="background-image: url('<%=image%>/home/hospitality.jpg');"></div>
		<div class="title blue">Hospitality</div>
	</div></a> -->



	<hr style="margin:50px 0; border: #fff;">
	<div class="home_sec">
		<a href="/overview" style="color:#666;">
			<img src="<%=image%>/transform.svg" width="100px"><br>
			ENGINEERED TO TRANSFORM
		</a>
	</div>
	<hr style="margin:50px 0; border: #fff;">


	<div class="info_box thrd">
		<!-- <img src="<%=image%>/expert.svg"> -->
		<div class="title">User Generated Content</div>
		<div class="desc">Easily create and upload lessons.</div>
	</div>

	<div class="info_box thrd">
		<!-- <img src="<%=image%>/review_rehearse.svg"> -->
		<div class="title">Engineered Training</div>
		<div class="desc">Uses natural learning processes.</div>
	</div>

	<div class="info_box thrd">
		<!-- <img src="<%=image%>/transform.svg"> -->
		<div class="title">Cloud-based learning</div>
		<div class="desc">Access content anywhere at anytime.</div>
	</div>
	<br><br><br><br>
	<a href="/users/sign_up">
		<button class="blue big_btn"> Request Access </button>
	</a>

</div>

<div class="home_top_info" data-topinfo='teach' style="background-color:#fff; background-image:url('<%=image%>/home/teach.jpg');">
	<div class="info_left">
		<div class="content">
			<div class="title">
				Share your expertise.
			</div>
			<div class="body">
				Use our platform to create interactive and engaging lessons.
			</div><br>
			<a href="/users/sign_up"><button class="blue big_btn"> Become an Instructor </button></a>
		</div>
	</div>
</div>

<div class="home_top_info" data-topinfo='learn' style="background-color:#fff; background-image:url('<%=image%>/home/learn.jpg');">
	<div class="info_right">
		<div class="content">
			<div class="title">
				Learn new skills from experts
			</div>
			<div class="body">
				Explore interactive lessons that allow you to rehearse to become a better version of you!
			</div><br>
			<a href="/users/sign_up"><button class="blue big_btn"> Explore </button></a>
		</div>
	</div>
</div>

<div class="home_top_info" data-topinfo='create'  style="background-color:#fff; background-image:url('<%=image%>/home/create.jpg');">
	<div class="info_left">
		<div class="content">
			<div class="title">
				Create beautiful video content
			</div>
			<div class="body">
				Work with subject-matter experts to transform traditional content into interactive and engaging videos.
			</div><br>
			<a href="/users/sign_up"><button class="blue big_btn"> Become a creator </button></a>
		</div>
	</div>
</div>

<div class="home_top_info" data-topinfo='managers' style="background-color:#fff; background-image:url('<%=image%>/home/managers.jpg');">
	<div class="info_right">
		<div class="content">
			<div class="title">
				Impactful employee training
			</div>
			<div class="body">
				Create teachable moments that last forever.<br>
				Contact us for a free consultation with a member of our instructional design team.
			</div><br>
			<a href="/users/sign_up"><button class="blue big_btn"> Start training </button></a>
		</div>
	</div>
</div>

<div style="background-color:#fff; width:100%; overflow:hidden;">

<div class="wrapper" style="padding:100px 10px 20px; margin-top:0; text-align: center; overflow:hidden;">

	<div class="home_course small" style="background-image:url('<%=image%>/home/interview.jpeg');">
		<div class="content">
			<div class="title">
				Interview Skills
			</div>
		</div>
	</div>

	<div class="home_course small" style="background-image:url('<%=image%>/home/sales_training.jpeg');">
		<div class="content">
			<div class="title">
				Sales Training
			</div>
		</div>
	</div>
	<div class="home_course small" style="background-image:url('<%=image%>/home/customer_service.jpeg');">
		<div class="content">
			<div class="title">
				Customer Service
			</div>
		</div>
	</div>

	<div class="home_course small" style="background-image:url('<%=image%>/home/presentation.jpeg');">
		<div class="content">
			<div class="title">
				Presentation Skills
			</div>
		</div>
	</div>
	<div class="home_course small" style="background-image:url('<%=image%>/home/pronunciation.jpeg');">
		<div class="content">
			<div class="title">
				English Pronunciation
			</div>
		</div>
	</div>
	<div class="home_course small" style="background-image:url('<%=image%>/home/hospitality.jpeg');">
		<div class="content">
			<div class="title">
				Hospitality
			</div>
		</div>
	</div>

</div>

<div class="wrapper" style="padding:50px 10px 50px; margin-top:0;overflow:hidden;">

	<img src="<%=image%>/support/monitor.png" style="float:right;" width="300px">

</div>

</div>

<div class="devices" style="background-image:url('<%=image%>/home/device_bg.jpg');">
	<div class="halfsec">
	<div class="devicetext">
		<span class="from_anywhere">
			Easy to use
		</span><br>
		All you need is a working webcam
	</div>
		<img class="computers" src="<%=image%>/home/devices.png" alt="">
		<img class="camera" src="<%=image%>/home/camera.png" alt="">
	</div>
</div>


<div style="width:100%; padding:100px 0 0; background-color:#fff;">
</div>





<script>
 (function(n,i,_n,j,a){
   n.addEventListener("DOMContentLoaded", function() {
   i['liveninja'] = ["https://messenger.liveninja.com/w/video-rehearser?frame=true"];
   var _n = n.createElement('script');
   var j = n.getElementsByTagName('script')[0];
   _n.async = 1;
   _n.src='https://messenger.liveninja.com/w/assets/widget.js';
   j.parentNode.insertBefore(_n, j);
 })})(document, window);
</script>
