<% if !current_user %>
	<div class="bg_scroll dynamic_h login_top" style="background-image:url('/assets/frame_home.jpg');">
		<div class="blur-wrapper blur_form">

			<div class="blur-bg bg_scroll" style="background-image: url('/assets/frame_home.jpg');"></div>

		    <div class="blur-text black-bg_08" style="text-align:center; padding:40px 15px;">

		    	<div class="home_info_1">Virtual Training & Coaching Platform</div> <br> 
		    	<div class="home_info_2">engineered by Educators to produce more engaged, skillful, and competent employees.</div>
				<hr style="border-top: 0.5px dotted #999; opacity: 0.3; margin: 70px auto; max-width:400px; min-width: 50%;">

		    	<div class="home_info_3">Review . Rehearse . <font color="#F75959" style="text-shadow: 1px 1px #000;">Transform</font></div>
				<center>
					<a href="/demo"><div class="demo">Schedule a demo</div></a>
					<div id="notice" style="float:none; width: 350px; padding: 5px; display: none;">
						Thank you for scheduling a demo, we will contact you soon.
					</div>
					<div class="demo_form" style="display:none;">
						<%= form_tag  do %>
							<%= text_field_tag :first_name, nil, placeholder:'First name *', class:'js-first_name half' %>
							<%= text_field_tag :last_name, nil, placeholder:'Last name *', class:'js-last_name half' %>
							<%= text_field_tag :email, nil, placeholder:'Email *', class:'js-email full' %>
							<%= text_field_tag :phone_number, nil, placeholder:'Phone number', class:'js-phone_number full' %>
							<div class="half" style=" width: calc(100% - 155.39); font-size: 18px; padding: 10px 0; float: left; text-align: left;">
								Set a schedule date:
							</div>
							<%= date_field :date, nil, class:'js-date half'%><br>
							<%= submit_tag "schedule demo", class:'js-schedule_demo green_sft' %>
							<button class="js-cancel_sched red">cancel</button>
						<%end%>
					</div>
				</center>
			</div>

		</div>
	</div>
	<div class="site_wrapper" style="padding:30px 10px; text-align: center;">

		<div class="home_sec">MARKETS</div>
		

		<a href="/markets"><div class="info_box qtr">
			<div class="image" style="background-image: url('/assets/home/interview_training.jpg');"></div>
			<div class="title blue">Interview Training</div>
		</div></a>
		<a href="/markets"><div class="info_box qtr">
			<div class="image" style="background-image: url('/assets/home/customer_service.jpg');"></div>
			<div class="title blue">Customer Service</div>
		</div></a>
		<a href="/markets"><div class="info_box qtr">
			<div class="image" style="background-image: url('/assets/home/sales_training.jpg');"></div>
			<div class="title blue">Sales Training</div>
		</div></a>
		<a href="/markets"><div class="info_box qtr">
			<div class="image" style="background-image: url('/assets/home/hospitality.jpg');"></div>
			<div class="title blue">Hospitality</div>
		</div></a>

		
		<hr style="margin:200px 0 100px; border: #fff;">
		<div class="home_sec">ENGINEERED TO TRAIN</div>
		<hr style="margin:100px 0; border: #fff;">

		<div class="info_box thrd">
			<img src="/assets/expert.svg">
			<div class="title trans">Learn from experts</div>
			<div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
		</div>

		<div class="info_box thrd">
			<img src="/assets/review_rehearse.svg">
			<div class="title trans">Review . Rehearse</div>
			<div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
		</div>

		<div class="info_box thrd">
			<img src="/assets/transform.svg">
			<div class="title trans">Transform your career</div>
			<div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</div>
		</div>

		<hr style="margin:100px 0; border: #fff;">

		<div class="half" style="text-align:right;">
			<div class="video_info_title">What is Video Rehearder?</div>
			<div class="video_info_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
		</div>
		<div class="half">
			<iframe width="520" height="315" src="https://www.youtube.com/embed/t1X2YESMshM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
<%else%>
	<META http-equiv="refresh" content="0;URL=/users/<%= current_user.id %>">
<%end%>
