<div class="job_banner">
  <div class="jobs-banner-content">
      <h1>Looking for a <span>job</span>? </h1>
      
  </div>
         
   </div> 
          

   <div class="about-job">
     <div class="container">
       <h3>About the Opportunity</h3>
       <p>We’ve created a tool to help turn traditional training material (often delivered via PowerPoint or Document) into an engaging and transformative learning experience. At CDG Innovations, we are dedicated to disrupting the traditional training, coaching and mentoring experience for social, academic, and workplace learning.</p>
     <p>
      Our core service, videoRehearser &copy; is an online and live training platform. It is based on a core set of proven psychological and educational principles and is poised to be a leader in the fragmented global market for workshop training and EdTech services.
     </p>

     <p>We’re looking for individuals who:</p>
    <ul>
      <li>Have access to content that they would like to monetize through online access; or    </li>
      <li>Have access to a network of people who would benefit from a virtual training platform; or </li>
      <li>Are eager to earn residual income by connecting businesses with a tool to improve their training.</li>
    </ul>
       
    <p>If you’re looking for a challenging opportunity with high future returns on your time and effort then contact <a href="mailto:carlos@videoreheaser.com">carlos@videoreheaser.com</a>.</p>
    </div>
   </div>
   <div class="job-responsibility">
     <div class="container">
       <h3>Open Positions</h3>

       <div class="jobs-heading">Language Specialist </div>
       <div class="job-content">
         <h4>Content Creator <span>(Language Specialist)</span></h4>
         <p><span>At CDG Innovations we’ve created a tool to help turn boring and ineffective content into an engaging and transformative learning experience. </span>We are dedicated to disrupting the traditional training, coaching and mentoring experience for social, academic, and workplace learning. 
         </p>
     <p>
        Our core service, <span>videoRehearser</span> © is an online and live training program. Based on a core set of proven psychological and educational principles, <span>VideoRehearser</span> &copy; is poised to be a leader in the fragmented <span>global</span> market for workshop training and EdTech services.
        
     </p>
     <p>If you’re planning on expanding your business both nationally and globally we’re excited about working with you!
      </p>
      <h5>About the Opportunity
        </h5>
        <p>Are you a language professional seeking to make money from your knowledge and expertise? A speech and/or language professional looking to expand your market presence and put your training online?
          </p>
          <p>We are currently seeking a highly motivated and experienced language specialist (preferably English) located in the Miami/Ft.Lauderdale area to create content using our videoRehearser platform. Bring your sense of fun, creativity, and strong dedication to our company!
            </p>
            <p>We will train you and guide you in how to use our software to develop new and innovative courses designed to meet the needs of the native spanish speaker community.
              </p>
              <h5>Job Responsibilities:
                </h5>
                <ul>
                  <li>Set individual learning and development goals
                    </li>
                  <li>Establishing a positive learning environment for all learners
                    </li>
                  <li>Utilizing a broad range of appropriate differentiated techniques and strategies addressing all aspects of communication that develop each student’s ability to read, write, speak, and listen in content areas at levels that ensure learners meet or exceed learning targets.
                    </li>
                  <li>Create high-quality lessons in the following categories: pronunciation dictionary, conversational, professional, vocabulary, grammar, etc. using videoRehearser. 
                    </li>
                  <li>Provide feedback and support that encourages the learners to develop their language and pronunciation skills.
                    </li>
                  <li>Maintain complete and accurate records of student’s progress and evidence of growth and progress
                    </li>
                </ul>



                <h5>Qualifications:</h5>
                  <ul>
                    <li>High level of English proficiency
                      </li>
                    <li>CELTA, DELTA, M.A. or M.S. in related field – TESOL, Linguistics, Education
                      </li>
                    <li>At least one year of ESL teaching experience.
                      </li>
                    <li>24 hr access to a computer with a webcam and fast internet connection
                      </li>
                    <li>Strong self and time management skills.
                      </li>
                      <li>Detail oriented; Strong problem solving skills and general creativity.
                        </li>
                  </ul>
                  <p>Please submit your cover letter and resume to <a href="mailto:carlos@videorehearser.com">carlos@videorehearser.com</a>
                    </p>
                    <input type="submit" value="Apply Now" data-toggle="modal" data-target="#myjob" class="apply_job" />
        </div> 


        <div class="jobs-heading">Business Development Specialist</div>
        <div class="job-content">
          <h4>Business Development Specialist</h4>
          <p><span>We’ve created a tool to help turn boring and ineffective content into an engaging and transformative learning experience. At CDG Innovations,</span>we are dedicated to disrupting the traditional training, coaching and mentoring experience for social, academic, and workplace learning. 
          </p>
      <p>
          Our core service, VideoRehearser <span>&copy;</span> is an online and live training platform. It is based on a core set of proven psychological and educational principles and is poised to be a leader in the fragmented global market for workshop training and EdTech services.
         
      </p>
     <p>We’re looking for individuals who: 
      </p>
      <ul>
        <li>Have access to content that they would like to monetize through online access; or 
          </li>
        <li>Access to a network of people who would benefit from a virtual training platform; or 
          </li>
        <li>Are eager to earn residual income by connecting businesses with a tool to improve their training. 
          </li>
      </ul>
      <p>If you’re looking for a challenging opportunity with high future returns on your time and effort then contact <a href="mailto:carlos@videoreheaser.com">carlos@videoreheaser.com</a>.  
          </p>
       <h5>Job Responsibilities:
          
         </h5>
          
            <ul>
              <li>Successfully identify, pursue and acquire new business relationships by creating an environment in which the needs of the customer are being matched to the products and services, retaining and expanding future business from current clients.
              </li>
              <li>Adopt a long-term perspective in developing mutually beneficial business relationships with others.
              </li>
              <li>Achieve and outperform sales and revenue goals; daily, weekly and monthly objectives.
              </li>
              <li>Assure new client accounts are on boarded and successfully converted to become active clients; set weekly conversion goals against all new leads generated.
              </li>
              <li><span>Can be trusted to act in a manner that is truthful and values direct, honest communication at all levels of the organization.
              </span></li>
              <li>Assist with strategic execution of new campaigns and products to improve engagement of special initiatives.
              </li>
              <li>Attend industry events, meetings and local association meetings to provide maximum exposure for the company and network/build relationships with targeted prospects; Ability to network and prospect high level business executives and create a successful Referral Program.
              </li>
              <li>Exceed annual revenue targets from new clients.
                </li>
              <li>Perform other duties as assigned.
                  </li>
            </ul>
 
 
 
            <h5>Qualifications:</h5>
              <ul>
                <li>A life long learner eager to acquire skills, knowledge and income.
                </li>
                <li>Motivated proactive self-starter, with strategic thinking and personal leadership skills.
                </li>
                <li>Speaks articulately and persuasively in your native language. English writing and speaking skills a plus. 
                </li>
                <li>Highly proficient with digital marketing tools and techniques or willingness to learn; CRM, Inbound and Outbound marketing tools and techniques.  
                </li>
                <li>Responds quickly and effectively to changing trends and circumstances; embraces change and welcomes fresh perspectives; learns from past mistakes and adjusts accordingly.
                </li>
                <li>Strong interpersonal skills; can effectively communicate and relate to all levels within and outside the organization; creates and builds positive and productive relationships. Prior experience with inbound and/or outbound sales is a plus.
                </li>
                <li>Detail oriented; Strong problem solving skills and general creativity.
                </li>
                <li>Ability to work well in a team selling environment.
                  </li>
              </ul>
              <h5>Benefits</h5>
              <ul>
                <li>Highly favorable commision based compensation to qualified applicants. 
                </li>
              </ul>
              <p>Email resume and cover letter to <a href="mailto:carlos@videorehearser.com">carlos@videorehearser.com</a>
                </p>
                <input type="submit" value="Apply Now" data-toggle="modal" data-target="#myjob" class="apply_job" />
         </div> 



     </div>
   </div>
   <div id="myjob" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Apply Now</h4>
      </div>
      
      <div class="modal-body">

        <div class="jobs-form">
          <%= form_tag "/job_application", class:"application_form", remote: true do %>

            <style>
              input{
                border-radius:5px !important;
              }
              .error, .success{
                display: none;
              }
              .error{
                padding: 5px 8px;
                background-color: #ffc1c1;
                border:1px red solid;
              }
              .success{
                padding: 25px 30px;
                background-color: #cfffc1;
                border:1px green solid;
              }
            </style>

            <div class="error"></div>

            <div class="row">

              <div class="form-group half">
                <%= text_field_tag :first_name, nil, class:"form-control", placeholder:"First Name" %>
              </div>

              <div class="form-group half">
                <%= text_field_tag :last_name, nil, class:"form-control", placeholder:"Last Name" %>
              </div>
            

              <div class="form-group half">
                <%= text_field_tag :email, nil, class:"form-control", placeholder:"Email" %>
              </div>

              <div class="form-group half">
                <%= text_field_tag :phone, nil, class:"form-control", placeholder:"Phone" %>
              </div>

              <br>
              
              <div class="form-group col-sm-12">
                <label>What job are you applying for?</label>
                <select name="job" class="form-control">
                  <option value="Content Creator (Language Specialist)">Content Creator (Language Specialist)</option>
                  <option value="Business Development Specialist">Business Development Specialist</option>
                </select>
              </div>
                    
              <div class="form-group col-sm-12">
                <label>URL to your resume</label>
                <%= text_field_tag :resume, nil, class:"form-control", placeholder:"LinkedIn, Google Doc, PDF" %>
              </div>

              <div class="form-group col-sm-12">
                <%= text_field_tag :website, nil, class:"form-control", placeholder:"Your website URL (optional)" %>
              </div>
              
              <!-- <div class="form-group half">
                <label for="user_banner">Cover Letter + Resume</label>
                <input type="file" name="user[banner]" id="user_banner">
                <span>Choose File</span>
              </div> -->
              
              <div class="form-group col-sm-12">
                <label>About you</label>
                <%= text_area_tag :about, nil, class:"form-controll", placeholder:"Tell us a little bit about yourself." %>
              </div>

              <div class="form-group col-sm-12">
                <label>List 2 references</label>
                <span style="font-size:12px;">Name, Relationship, Email, Phone Number</span>
                <%= text_area_tag :references, nil, class:"form-controll", placeholder:"" %>
              </div>

              </div>
                          
              
            <%end%>
          </div>
          <div class="success">
            Thank you for submitting your job application. 
            <br>
            We will contact you as soon as we review your it.
            <br>
            <br>
            best,
            <br>
            <br>
            -  vR Team
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="submit_job_application">Submit</button>
          <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
      </div>
    
    </div>
  </div>

   
