<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_profile.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_profile.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user_profile.education %>
</p>

<p>
  <strong>Race:</strong>
  <%= @user_profile.race %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user_profile.company %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user_profile.role %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
