<% content_for :body do %>

  You’ve been invited to join <b><%= @course.title %></b> on videoRehearser.
  <br>
  <br>
  Your instructor, <b><%= @instructor.full_name %></b>, is excited to have you. videoRehearser is engineered to train and will lead you to performance mastery! <%= link_to "Login here to begin", @url %>.
  <br>
  <br>
  <b>Course details:</b>
  <br>
  Name: <b><%= @course.title %></b>
  <br>
  Access Code: <b><span style="color:red;"><%= @course.access_code %></span></b>
  <br>
  Number of lessons: <b><%= @lessons %></b>

<% end %>