<% content_for :body do %>

  <b><%= @student.full_name %></b> just submitted a rehearsal for:
  <br>
  <b>lesson:</b> <%= @rehearsal.lesson.title %>
  <br>
  <b>course:</b> <%= @rehearsal.lesson.topic.course.title %>
  <br>

  <h4>You can review it here:</h4>
  Lesson Page: <%= link_to "click here", @lesson_url %>
  <br>
  Student Rehearsal Page: <%= link_to "click here", @student_url %>
  <br>

<% end %>