<% content_for :body do %>
  <b><%= @app["first_name"] %> <%= @app["last_name"] %></b> Just applied for the job: <%= @app["job"] %>.
  <h4>Applicant info:</h4>
  Email: <%= link_to @app["email"], "mailto:"+@app['email'] %>
  <br>
  Phone: <%= @app["phone"] %>
  <br>
  Resume: <%= link_to @app["resume"], @app["resume"] %>
  <br>
  Website: <%= link_to @app["website"], @app["website"] %>
  
  <hr>
  <h4>About them:</h4>
  <%= @app["about"] %>
  <hr>
  <h4>References:</h4>
  <%= @app["references"] %> 
<% end %>
