<% content_for :body do %>
  <b>Thank you for purchasing access to the course <%= @course.title %>.</b>
  <br>
  <br>
  <div class="main-body">
    Your instructor, <%= @course.instructor.full_name %>, is excited to have you. videoRehearser is engineered to train and will lead you to performance mastery! <%= link_to "Click here to begin", @url %>.
    <br>
    <br>
    <b>Course details:</b>
    <br>
    Name: <%= @course.title %>
    <br>
    Access Code: <%= @course.access_code %>
    <br>
    Number of lessons: <%= @lessons %>
  </div>

  <hr>
<%end%>
                
