<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @practice.token %>
</p>

<p>
  <strong>Video token:</strong>
  <%= @practice.video_token %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @practice.completed %>
</p>

<p>
  <strong>User:</strong>
  <%= @practice.user %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
