<div class="component_wrapper">
  <%= form_for [@lesson, @newForm], html: {class:@this_added_class+"Form", id:"ziggeoForm"}, authenticity_token: true, remote: true do |f| %>
  <%= f.text_area :script, class:'full', placeholder: 'Write your script here ...' %><br>
  <div class="media_wrapper">
    <div class="ziggeo">
      <%= render './shared/ziggeorecorder' %>
    </div>
    <img id="img_prev" src="#" alt="preview" />
  </div>
    <% if @newForm.errors.any? %>
      <div id="<%= @this_error %>">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% @newForm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.file_field :image, class:'half uploaded' %>
    <span> upload cover image ( 16 x 9 ratio recommended ) </span>
    <%= f.hidden_field :image_cache %>
    <%= f.text_field :title, class:'full', value:@this_component+' Title', placeholder:@this_component+' Title' %>
    <br>
    <%= f.check_box :position_prior, checked: true %> Active <%= @this_component %>
    <br>
    <br>
    <%= f.select :language, (@languages) %>
    <%= f.select :privacy, (@privacy) %>
    <%= f.text_field :video_token, type:"hidden", class:'video_token' %>
    <%= f.text_field :token, type:"hidden", class:'token' %>
    <%= f.text_field :user_id, value:current_user.id, type:'hidden' %>
    <%= f.text_field :lesson_id, value:@lesson.id, type:'hidden' %>
    <span class="recorder_please_wait">Please wait for the video to upload & verify</span>
    <%= f.submit 'Save '+@this_component, class:'shade_close submit_ziggeo reset_form blue save_'+@this_added_class, title:'Please allow the video to verify before saving' %>
  <% end %>
</div>
<!-- <button class='submit_<%= @this_added_class %> submit_ziggeo blue' style='float:right;' data-formname="<%= @this_added_class %>">
    <span>Save <%= @this_component %></span>
</button> -->
