<%= form_for([@chapter, @lesson]) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :lesson_title %><br>
    <%= f.text_field :lesson_title %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_field :explanation %>
  </div>
  <div class="field">
    <%= f.label :prompt %><br>
    <%= f.text_field :prompt %>
  </div>
  <div class="field">
    <%= f.label :role_model %><br>
    <%= f.text_field :role_model %>
  </div>
  <div class="field">
    <%= f.label :performance %><br>
    <%= f.text_field :performance %>
  </div>
  <div class="field">
    <%= f.label :explanation_script %><br>
    <%= f.text_area :explanation_script %>
  </div>
  <div class="field">
    <%= f.label :prompt_script %><br>
    <%= f.text_area :prompt_script %>
  </div>
  <div class="field">
    <%= f.label :model_script %><br>
    <%= f.text_area :model_script %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
