<%= form_for [@course, @topic, lesson], remote: quickEdit do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
      
      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, class:'full', placeholder:'Title' %><br>
  <%= f.text_area :description, class:'full', placeholder:'Description' %><br>
  Lesson type: <br> <%= f.select :lesson_type, (@lesson_type) %><br>
  <%= f.text_field :tags, class:'full', placeholder:'tags (separate with comma)' %><br>
  <%= f.select :language, (@languages) %>
  <%= f.select :privacy, [["Draft", 0], ["Published", 1]] %><br>
  
  <%= f.text_field :instructor_id, type:"hidden", value:current_user.id %>

  <%= button_tag 'Save Lesson', type:'submit', class:"blue shade_close" %>
<% end %>
