<% @this_added_class = 'rehearsal' %>

<div class="ziggeo_wrapper"><%= render './shared/ziggeorecorder' %></div>

<%= form_for [@lesson, @rehearsal], html: {id: "rehearsalsForm"}, remote: true  do |f| %>
    <% if @rehearsal.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this rehearsal from being saved:</h2>

          <ul>
            <% @rehearsal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.text_area :script, class:'rehearsal_script', placeholder:'Write your script here...' %>
    <%= render 'scriptcontrol' %>
    <div style="display:none;"><%= f.text_field :course_id, type:"hidden", value:@course.id  %><br>
    <%= f.text_field :trainee_id, type:"hidden", value:current_user.id %><br>
    <%= f.text_field :lesson_id, type:"hidden", value:@lesson.id %><br>
    <%= f.text_field :topic_id, type:"hidden", value:@topic.id %><br>
    <%= f.text_field :video_token, type:"hidden" %>
    <%= f.text_field :token, type:"hidden" %></div>
<% end %>

<%= button_tag 'Submit Rehearsal', class:'submit_rehearsal green_sft', style:'float:right;' %>
<%= button_tag 'Record Another Rehearsal', class:'record_another_rehearsal blue', style:'display:none;' %>