<div class="showIfLessonComplete" style="display: none;">

    <div class="js-lesson_buttons"></div>

    <br>
    <hr>
  
    <!-- VIDEO WINDOWS -->
    <div class="lesson_video_center lesson_vid">
      <div class="explanation_video lesson_vid"><%= render 'explanation' %></div>
    </div>

    <div class="lesson_video_left lesson_vid">
      <div class="prompt_video lesson_vid"><%= render 'prompt' %></div>
      <div class="model_video_1 lesson_vid"><%= render 'rolemodel' %></div>
    </div>

    <div class="lesson_video_right lesson_vid">
      <div class="model_video_2 lesson_vid"><%= render 'rolemodel' %></div>
      <div class="rehearsal_video lesson_vid"><%= render 'rehearsal' %></div>
    </div>




    <!-- PREVIOUS && NEXT -->
    <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id-1)%>">
      <button class="blue lesson_previous">PREVIOUS LESSON</button>
    </a>
    <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id+1)%>">
      <button class="blue lesson_next" style="float: right;">NEXT LESSON</button>
    </a>

    <script type="text/javascript"> allLessons('<%= @lesson.id %>','<%= @lessons_arr %>') </script>
    <br>
    <br>
</div>


<!-- rendering rehearsals from reheasals view folder -->
<ul>
    <%= render './rehearsals/rehearsal' %>
</ul>
