

  <div class="showIfLessonComplete" style="display: none;">

    <button class="big_btn lesson_btn js-show_explanation btn_selected">Explanation</button>
    <button class="green_sft big_btn lesson_btn js-show_prompt btn_selected">Prompt</button>
    <button class="green_sft big_btn lesson_btn js-show_model btn_selected">Role Model</button>

    <br>
    <hr>

    <div class="instructor_videos">

      <div class="explanation_video">
        <% @this_video_token = @prior_expl.video_token %>
        <%= render './shared/ziggeoplayer' %>
        <div class="lesson_script"><%= @prior_expl.script %></div>
      </div>

      <div class="prompt_video" style="display: none;">
        <% @this_video_token = @prior_prompt.video_token %>
        <%= render './shared/ziggeoplayer' %>
        <div class="lesson_script"><%= @prior_prompt.script %></div>
      </div>

      <div class="model_video" style="display: none;">
        <% @this_video_token = @prior_model.video_token %>
        <%= render './shared/ziggeoplayer' %>
        <div class="lesson_script"><%= @prior_model.script %></div>
      </div>


    </div>



    <div class="trainee_rehearsal">
      <%= render './rehearsals/ziggeorecordertrainee' %>



      <!-- <%= @prior_model.script %> -->
      <!-- <textarea placeholder="Write your script here..." style="margin-top:14px;"></textarea> -->






      <%= form_for [@lesson, @rehearsal],html: {id: "tokenForm"}, remote: true  do |f| %>
          <% if @rehearsal.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this rehearsal from being saved:</h2>

                <ul>
                  <% @rehearsal.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.text_area :script, placeholder:'Write your script here...' %>
          <%= f.text_field :course_id, type:"hidden", value:@course.id  %><br>
          <%= f.text_field :trainee_id, type:"hidden", value:current_user.id %><br>
          <%= f.text_field :lesson_id, type:"hidden", value:@lesson.id %><br>
          <%= f.text_field :video_token, type:"hidden" %>
          <%= f.text_field :token, type:"hidden" %>

      <% end %>
      <!-- rendering rehearsals from reheasals view folder -->

      <script >

        function postVideoToken(videoToken, streamToken){

          $form = $('#tokenForm');
          $ziggeotoken = $('#rehearsal_video_token');
          $webtoken = $('#rehearsal_token');

          $ziggeotoken.val(videoToken);
          $webtoken.val(streamToken)
          $form.submit();


        };
        // function postStreamToken(streamToken){
        //
        // };
        ZiggeoApi.Events.on("submitted", function (data) {

          // getting the string token and storing it in videoToken var to ship it to the outside world
          var streamToken = data.stream.token
          var videoToken = data.stream.video_token
          console.log(videoToken);
          console.log(streamToken);

          // here is where we grab the token to escort it outside of the ziggeo api on click event
          postVideoToken(videoToken, streamToken);

          // console.log(streamToken);

        });
      </script>



    </div>

      <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id-1)%>">
        <button class="blue lesson_previous">PREVIOUS LESSON</button>
      </a>
      <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id+1)%>">
        <button class="blue lesson_next" style="float: right;">NEXT LESSON</button>
      </a>

      <script type="text/javascript"> allLessons('<%= @lesson.id %>','<%= @lessons_arr %>') </script>
      <br>
      <br>
</div>
<ul>
    <%= render './rehearsals/rehearsal' %>
</ul>
 <script>$("ul").on('click',".submission", function () {

   console.log($(this).data('token');


 });</script>
