<% if topic_lesson_status(@lesson) %>

<div class="showIfLessonComplete" data-lesson="<%= params[:id] %>">
  <div class="explanation-row">
    <button class="lesson_next pull-left first_contact_intro shadebox_btn" data-shadebox="explanation" data-target="#explanation_video" data-intro="This video tells you what the lesson is about and why it’s important for you to master the performance">
      <span class="glyphicon glyphicon-question-sign"></span> 
      Explanation
    </button>
  </div>
   
    
   <!-- VIDEO WINDOWS -->

  <div class="shadebox" data-name="explanation">
    <div class="shade box" style="max-width:630px; margin-top:10px;">
        <div class="shadebox_title">
          <div class="put_title_here">Explanation Video</div>
        </div>
        <div class="shadebox_content" style="text-align:center;">
          <div class="put_video_here">
            <div class="js-player explanation explanation_video">
              <%= render 'explanation' %>
            </div>
          </div>
        </div>
        <div class="shadebox_bottom">
        </div>
    </div>
  </div>

  

  


   <div class="js-custom-player-container">
      <div id="send_to_instructor" class="hide" style="font-size:15px; font-weight:800; text-align:left;">
         You have <span class="js-num_rehearsals" style="color:#2FA0FF;"><%= rehearsals_for_this_lesson.size.to_s %></span> Rehearsals for this lesson.
         <br>
         <span style="font-size:11px;">Click on the ones you want to send for feedback</span>
      </div>

      <div class="columns">
      <div class="column">
     <div class="columns">
     
     
     <%= render 'prompt' %>
    
     <%= render 'rolemodel' %> 
      
     <%= render 'rehearsal' %>
     
     
     
     </div>
     </div>
     
     <div class="column is-one-quarter first_contact_intro" data-intro="This is where all your rehearsals for that lesson will be saved. From this list you will be able to choose the rehearsal you want to send to the course instructor for feedback.">
     
     <div class="rehearsals-list">
             
     <label class="title-head">Rehearsals List <span class="tooltip-custom" data-tooltip="Choose the rehearsal from this list that you would like to send to the instructor for approval or feedback."> <img src="/assets/Antu_help_hover.png" width="22px"></span></label>
     <div class="contenido">
        <div class="list_of_lesson_rehearsals">
           <% rehearsals_for_this_lesson.each_with_index do |rehearsal, index| %>
           <% @this_video_token = rehearsal.video_token %>
           <% @this_added_class = 'rehearsal_'+rehearsal.id.to_s %>
           <div class="rehearsal_thumbnail">
              
              <a href="/reviewrehearsal/<%= rehearsal.id %>/api" data-remote="true">
                <button class="rehearsal_btn" data-shadebox="rehearsal" data-rehearsal="<%= rehearsal.id.to_s %>" data-rehearsalnumber="<%= (index+1).to_s %>">
                  Rehearsal <%= (index+1).to_s %>
                  <div id="rehearsal_<%= rehearsal.id.to_s %>_status" class="<%= rehearsal_approved(rehearsal.id) %>"></div>
                  <div class="rehearsal-thumb-round">
                      <img src='https://embed.ziggeo.com/v1/applications/<%=ENV["ZIGGEO_TOKEN"]%>/videos/<%= @this_video_token %>/image' width="100%" class="rehearsal_img">
                  </div>
                  ref#: <%= genReherasalRef(rehearsal.id) %>
                </button>
              </a>

           </div>
           <% end %>
        </div>
     </div>
  </div>

     </div>
     
     
     </div>
     

   </div>



   <br>
   <br>
<div style="overflow:hidden;">
  <% if !@lesson.instructor.chat.blank? %>
    <a href="<%= @lesson.instructor.chat %>" target="_blank" onclick="alert('This will open a live video chat with the course instrustor. Click OK to call.')">
      <button class="green_sft" style=" float:left;"> <img src="/assets/live_chat.png" width="20px"> Live video chat</button>
    </a>
  <% end %>

  <div class="first_contact_intro lesson_views" data-intro="Use these buttons to rearrange your recording area to best fit your learning style.">
    <span class="tooltip-custom" data-tooltip="Choose the view that you feel most comfortable with as you rehearse."> <img src="/assets/Antu_help_hover.png" width="22px"></span>
    <button class="blue lesson_next training-path-1"> View 1</button>
    <button class="lesson_next training-path-2"> View 2</button>
  </div>

</div>

  </div>
  <div class="clearfix"></div>

  <div class="rehearsal_shade_video"></div>  

<% end %>
