<div class="showIfLessonComplete" style="display: none;">

    <div class="js-lesson_buttons"></div>

    <br>
    <hr>
  
    <!-- VIDEO WINDOWS -->
    <div class="lesson_video_center lesson_vid">
      <div class="explanation_video lesson_vid"><%= render 'explanation' %></div>
    </div>

    <div class="prompt_video lesson_vid"><%= render 'prompt' %></div>
    <div class="model_video lesson_vid"><%= render 'rolemodel' %></div>

    <div class="lesson_video_left lesson_vid">
    </div>

    <div class="lesson_video_right lesson_vid">
    </div>

    <div class="lesson_video_rehearsal lesson_vid ">
        <div class="rehearsal_video lesson_vid"><%= render 'rehearsal' %></div>
    </div>




    <!-- PREVIOUS && NEXT -->
    <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id-1)%>">
      <button class="blue lesson_previous">PREVIOUS LESSON</button>
    </a>
    <a href="<%= course_topic_lesson_path(@course, @topic, @lesson.id+1)%>">
      <button class="blue lesson_next" style="float: right;">NEXT LESSON</button>
    </a>

    <script type="text/javascript"> allLessons('<%= @lesson.id %>','<%= @lessons_arr %>') </script>
    <br>
    <br>
    
    <div class="list_of_lesson_rehearsals">
        <% rehearsals_for_this_lesson.each do |rehearsal| %>
            <% @this_video_token = rehearsal.video_token %>
            <% @this_added_class = 'rehearsal_'+rehearsal.id.to_s %>
            <div class="rehearsal_thumbnail">
                <button class="shadebox_btn rehearsal_btn" data-rehearsal="<%= rehearsal.id.to_s %>" data-rehearsalnumber="<%= (rehearsals_for_this_lesson.index(rehearsal)+1).to_s %>">Rehearsal <%= (rehearsals_for_this_lesson.index(rehearsal)+1).to_s %>
                    <div id="rehearsal_<%= rehearsal.id.to_s %>_status" class="<%= rehearsal_approved(rehearsal.id) %>"></div><br>
                    <%= render './shared/ziggeothumbnail' %>
                </button>
            </div>
        <% end %>
    </div>


    <br>
    <br>


    <!-- SHADEBOX FOR REHEARSAL -->
    <div class="shadebox">
        <div class="shade box">
            <div class="shadebox_title">
                <div class="put_title_here"></div>
            </div>
            <div class="shadebox_content" style="text-align:center;">
                <div class="put_video_here"></div>
                <hr>
            </div>
            <div class="shadebox_bottom">
                <button type="button" class="blue submisison" data-rehearsalsubmission="" data-rehearsalid="" style="float:left;"></button>
                <button type="button" class="green_sft">Edit</button>
                <button type="button" class="red">Delete Rehearsal</button>
            </div>
        </div>
    </div>


</div>