<h>record Role Model</h2>

  <ziggeo
        ziggeo-width=450
        ziggeo-height=300>
  </ziggeo>

  <%= form_for([@course, @topic, @lesson]) do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :model_script %><br>
      <%= f.text_area :model_script %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<%= form_for @lesson, url: role_model_token_lesson_path(@lesson),
                                                    html: {id: "tokenForm"},
                                                    remote: true,
                                                    method: 'post' do |f| %>
<%= f.hidden_field :role_model %>
<% end %>

<script >
  // this function is getting the video token from ZiggeoApi.Events
  function postVideoToken(videoToken){
    // grab form by the id been display in the html and store it in a jquery object
    $form = $('#tokenForm');
    // grab the value field by its the id
    $field = $('#lesson_role_model');
    // assign the value of that field we grab by its id to the value of postVideoToken
    $field.val(videoToken);
    // the form we grabed earlier by its id gets submited to the server
    $form.submit();
    // $.ajax ({
    //   url : "/token",
    //   type : "post",
    //   data : {token: videoToken}
    // });
  };
  // function postStreamToken(streamToken){
  //
  // };
      ZiggeoApi.Events.on("submitted", function (data) {

          // getting the string token and storing it in videoToken var to ship it to the outside world
          var streamToken = data.stream.token
          var videoToken = data.stream.video_token
          console.log(videoToken);
          console.log(streamToken);

          // here is where we grab the token to escort it outside of the ziggeo api on click event
          postVideoToken(videoToken);

          // console.log(streamToken);

      });
</script>
