<% if course_creator || current_user.registered(@course) %>

  <!------------------ RIGHT PANEL COURSE NAVIGATION  ---------------------->
  <div class="right_panel" data-name='browse_course'>
    <div class="title"><%= @course.title %></div>
    <button class="close_panel small red add_btn">x</button>

    <div class="content">
      <% @course.topics_ready(current_user).each do |topic| %>
        <div class="topic_title"><%= topic.title %></div>
        <div class="right_lesson_list">
          <% topic.lessons_ready(current_user).each do |lesson| %>
            <a href="<%= course_topic_lesson_path(@course, topic, lesson) %>">
              <div class="item <%= 'selected' if lesson == @lesson %> <%= ((topic_lesson_status(@lesson)) ? 'ready' : 'not_ready') if lesson_creator %>">
                <%= lesson.title %>
              </div>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- come back to this ---->
  <div class="lessonForm"></div>  

  <!-------------- LESSON CREATOR TRAINEE VIEW TOGGLE--------------------------------->
  <% if lesson_creator %>
    <% if topic_lesson_status(@lesson) %>
      <div class="lesson_ready" style="margin:10px auto;">
        <%= button_tag 'Toggle Trainee View', class:"btn-trainee green_sft js-trainee_view", title:"Click to view trainee window" %>
      </div>
    <% end %>
  <% end %>

 <div id="lesson_top">
  <div id="course_img">
    <img class="img-circle" src="<%= @course.image %>" alt="Course Cover" style="width:80px; height:80px;">
  </div>
  <!-- TITLE NAVIGATION ---->
  <div id="lesson_breadcrum">
    <div class="page_info lesson_<%= @lesson.id %>">
      <div class="the_title">
        <span class="grey"><%= link_to @course.title, course_path(@course) %> ::</span>
        <span class="grey"><%= link_to @topic.title, course_topic_path(@course, @topic) %> ::</span>
        <span class="lt_<%= @lesson.id %>"><%= @lesson.title %></span>
      </div>
      
      <%= (link_to '', edit_course_topic_lesson_path(@course, @topic, @lesson), class:'edit ion-edit', remote: true) if course_creator %>
      <!----- RIGHT PANEL OPENER ----->
      <div class="lesson_panel_btn right right_panel_btn ion-android-list" data-rightpanel='browse_course' data-intro="This button will open a panel with a list of all the topics and lessons in this course. Click, if you need to navigate the course."></div>  
      <span class="the_title right">Lesson List: </span>
    </div>
    
    <!-- DESCRIBING LESSON TYPE -->
    <div class="lesson_type" style="display:none;"><%= @lesson.lesson_type %> </div>

    <div class="timeline" data-intro="Clicking on these progress bubbles will help you navigate through the lessons of the course, this is also a visual representation of your current progress on each lesson.">
    <!-- DESCRIBING BY BULLET POINTS --> 
      <ul>
        <% @topic_lessons.each do |key, value| %>
          <li class="<%= value[0] %> <%= "selected" if key.to_s == params[:id] %>">
            <span class="tooltip-custom" data-tooltip="<%= Lesson.find(key).title %> :: <%= value[1] %>">
              <a href="<%= course_topic_lesson_path(@course, @topic, key)%>"></a>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
 </div>
  
  

  <div class="box_sep">
  <!-------------- CREATOR LESSON BODY VIEW :move to partial--------------------------------->
    <% if lesson_creator %>
        <div class="body lesson_holder">
          <%= render 'creator' %>
        </div>
    <% end %>
  <!-------------- TRAINEE LESSON BODY VIEW --------------------------------->
    <% if (@lesson_ready && current_user.registered(@course)) %>

        <div class="body lesson_holder">
          <%= render 'trainee' %>
          <button class="small_btn blue js-click_back">Back</button>
        </div>
    <% end %>

  <!-------------- NEXT LESSON LOGIC --------------------------------->
    <div class="lesson_nav_holder">
      <% if @next != false %>
          <a href="<%= course_topic_path(@course, @topic) %>/lessons/<%= @next %>" class="ion-android-arrow-dropright-circle lesson_nav"></a>
      <% else %>
          <% if !@next_topic %>
              <span class="ion-android-arrow-dropright-circle lesson_nav inactive"></span>
          <% else %>
              <a href="<%= course_path(@course) %>/topics/<%= @next_topic %>" class="ion-android-arrow-dropright-circle lesson_nav next_topic" title="next topic" alt="next topic"></a>
          <% end %>
      <% end %>
    </div>


  <!-------------- ASSIGNS LESSON PROGRESS ICON --------------------------------->
    <script type="text/javascript">
      pageReady(true);
      var checkLesson = lessonProgress('<%= @lesson.lesson_type %>', '<%= @explanations.to_json %>', '<%= @prompts.to_json %>', '<%= @models.to_json %>');

      checkLesson;
      $('.shade_close').click(function () {
        checkLesson;
      });
    </script>

  <!-------------- SHOWS INFORMATION BUBLE TO NEW USERS --------------------------------->
    <% if current_user.first_contact && !course_creator %>
      <% if check_terms(termsVersion) %>
        <!-- INTROJS  -->
        <script> introJs().start(); </script>
      <% end %>
    <% end %>

  </div>

<%else%>

  <center style="margin-top:100px;">
    <h2>
      You do not have access to this course.
    </h2>
    <script>
        reload_to( "<%= course_path( @course ) %>" , 3000 );
    </script>
  </center>

<% end %>
