<div class="top_info">
  <div class="course_title">
    <span class="grey"><%= @course.title %> ::</span>
  </div>
  <div class="course_title">
    <span class="grey"><%= @topic.title %> ::</span>
  </div>
  <div class="course_title">
    <%= @lesson.title %>
  </div>
</div>




<div class="box_sep">

  <%if @prior_expl && @prior_prompt && @prior_model && current_user.role == @r[3] %>
  <div class="body">

    <div class="showIfLessonComplete" style="display: none;">

      <div class="instructor_videos">

        <button class="green_sft big_btn js-show_explanation">Explanation</button>
        <button class="green_sft big_btn js-show_prompt">Prompt</button>
        <button class="green_sft big_btn js-show_model">Role Model</button>

        <hr>
        <br>

        <div class="explanation_video">
          <% @this_video_token = @prior_expl.video_token %>
          <%= render './shared/ziggeoplayer' %>
          <div class="lesson_script"><%= @prior_expl.script %></div>
        </div>

        <div class="prompt_video" style="display: none;">
          <% @this_video_token = @prior_prompt.video_token %>
          <%= render './shared/ziggeoplayer' %>
          <div class="lesson_script"><%= @prior_prompt.script %></div>
        </div>

        <div class="model_video" style="display: none;">
          <% @this_video_token = @prior_model.video_token %>
          <%= render './shared/ziggeoplayer' %>
          <div class="lesson_script"><%= @prior_model.script %></div>
        </div>


      </div>


      <div class="trainee_rehearsal">

        <div class="vid_title">Rehearsal</div>
        <hr style="margin-bottom: 28px;">

        <div class="vid_title">Rehearsal</div>
           <hr style="margin-bottom: 28px;">

           <ziggeo ziggeo-theme='modern-blue' class='ziggeo_rec_elem' ziggeo-stretch ziggeo-disable_first_screen >
           </ziggeo>
          <!-- <%= @prior_model.script %> -->
          <!-- <textarea placeholder="Write your script here..." style="margin-top:14px;"></textarea> -->




        <%= form_for [@lesson, @rehearsal],html: {id: "tokenForm"}, remote: true  do |f| %>
            <% if @rehearsal.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this rehearsal from being saved:</h2>

                  <ul>
                    <% @rehearsal.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <%= f.text_area :script, placeholder:'Write your script here...', style:'margin-top:15px;' %>
            <%= f.text_field :progress_id, type:"hidden" %>
            <%= f.text_field :course_id, type:"hidden", value:@course.id  %><br>
            <%= f.text_field :trainee_id, type:"hidden", value:current_user.id %><br>
            <%= f.text_field :lesson_id, type:"hidden", value:@lesson.id %><br>
            <%= f.text_field :video_token, type:"hidden" %>
            <%= f.text_field :token, type:"hidden" %>

        <% end %>


        <script >

          function postVideoToken(videoToken, streamToken){

            $form = $('#tokenForm');
            $ziggeotoken = $('#rehearsal_video_token');
            $webtoken = $('#rehearsal_token');

            $ziggeotoken.val(videoToken);
            $webtoken.val(streamToken)
            $form.submit();
          };
          // function postStreamToken(streamToken){
          //
          // };
          ZiggeoApi.Events.on("submitted", function (data) {

            // getting the string token and storing it in videoToken var to ship it to the outside world
            var streamToken = data.stream.token
            var videoToken = data.stream.video_token
            console.log(videoToken);
            console.log(streamToken);

            // here is where we grab the token to escort it outside of the ziggeo api on click event
            postVideoToken(videoToken, streamToken);


            // console.log(streamToken);

          });
        </script>



      </div>

    <hr>

    <a href="<%= user_path(current_user) %>"><button> < Back </button></a>
    </div>
  </div>



  <% elsif current_user.level_2 %>




  <div class="body">

    <!-- CREATION PROGRESS -->

    <div class="lesson_progress_bar" >

      <hr>

      <div class="progress_unit js-explanation">
        <div class="progress_btn js-explanation_prog"></div>
        Explanation
        <div class="explanation_prog_err lesson_err" style="display: none;"></div>
      </div>

      <div class="progress_unit js-prompt">
        <div class="progress_btn js-prompt_prog"></div>
        Prompt
        <div class="prompt_prog_err lesson_err" style="display: none;"></div>
      </div>

      <div class="progress_unit js-model">
        <div class="progress_btn js-model_prog"></div>
        Model
        <div class="model_prog_err lesson_err" style="display: none;"></div>
      </div>

    </div>

    <br>















    <center>
    <!-- ADDING EXPLANATION -->
    <div class="thrd" style="text-align: center;">
      <div class="js_listOfexplanations"></div>
      <script type="text/javascript">
        thisLessonsList('explanations', '<%= @explanations_json %>')
      </script>

      <%= form_for [@lesson, @explanation]  do |f| %>
        <% if @explanation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>
            <ul>
            <% @explanation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div style="display: none;">
          <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
          <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %>
          <%= f.text_field :video_type, value:"ziggeo", type:'hidden' %>
          <%= f.text_field :language, value:"en", type:'hidden' %>
          <%= f.text_field :title, type:"hidden", value:'New Explanation (rename)' %>
        </div>
        <%= f.submit 'Add Explanation', class:'blue' %>
      <% end %>
    </div>



    <!-- ADDING PROMT -->
    <div class="thrd" style="text-align: center;">


    <div class="js_listOfprompts"></div>
      <script type="text/javascript">
        thisLessonsList('prompts', '<%= @prompts_json %>')
      </script>


      <%= form_for [@lesson, @prompt]  do |f| %>
        <% if @prompt.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this lesson from being saved:</h2>

            <ul>
            <% @prompt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div style="display: none;">
          <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
          <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %>
          <%= f.text_field :video_type, value:"ziggeo", type:'hidden' %>
          <%= f.text_field :language, value:"en", type:'hidden' %>
          <%= f.text_field :title, type:"hidden", value:'New Prompt (rename)' %>
        </div>
        <%= f.submit 'Add Prompt', class:'blue' %>
      <% end %>
    </div>




    <!-- ADDING MODEL -->
    <div class="thrd" style="text-align: center;">


      <div class="js_listOfmodels"></div>
      <script type="text/javascript">
        thisLessonsList('models', '<%= @models_json %>')
      </script>


      <%= form_for [@lesson, @model]  do |f| %>
        <% if @model.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

            <ul>
            <% @explanation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div style="display: none;">
          <%= f.text_field :user_id, type:"hidden", value:current_user.id %>
          <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %>
          <%= f.text_field :video_type, value:"ziggeo", type:'hidden' %>
          <%= f.text_field :language, value:"en", type:'hidden' %>
          <%= f.text_field :title, type:"hidden", value:'New Model (rename)' %>
        </div>
        <%= f.submit 'Add Role Model', class:'blue' %>
      <% end %>
    </div>
    </center>




    <!-- CONCEPTS -->
    <%= form_for [@lesson, @concept]  do |f| %>
      <% if @concept.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
          <% @concept.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :user_id, type:"hidden", value:current_user.id %><br>
      <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %><br>
      <%= f.text_field :description, placeholder: 'add a lesson concept...', style:'width:300px;' %>
      <%= f.submit 'Add Concept', class:'blue' %>
    <% end %>

    <a href="<%= course_topic_path(@course, @lesson) %>"><button> < Back </button></a>
    </div>

  <%else%>

    <div class="body">Lesson is not yet completed for viewing.</div>

  <%end%>




  <script type="text/javascript">
        lessonProgress('<%= @exp_prog %>', '<%= @prompt_prog %>', '<%= @model_prog %>')
  </script>
  <br>

</div>
