
<div class="course_title">
  <%= @lesson.lesson_title %>
</div>

<% if @lesson.explanation == nil && current_user.role == 'admin' %>
  <h2>Record Explanation</h2>

  <ziggeo
        ziggeo-width=450
        ziggeo-height=300>
  </ziggeo>

  <%= form_for([@course, @chapter, @lesson]) do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :explanation_script %><br>
      <%= f.text_area :explanation_script %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'record prompt', prompt_view_lesson_path(@lesson) %>

<% elsif @lesson.prompt == nil && current_user.role == 'admin' %>
  <%= link_to 'record prompt', prompt_view_lesson_path(@lesson) %>

<% elsif @lesson.role_model == nil && current_user.role == 'admin' %>
  <%= link_to 'record role model', role_model_view_lesson_path(@lesson.id) %>

<% else %>

  <!-- show first as lightbox -->
  <div class="site_wrapper" style="width: 1100px;">
    <div class="lesson_explanation" style="display: none;">
      <ziggeo
      ziggeo-video= <%= @lesson.explanation %>
      ziggeo-width=625
      ziggeo-height=400>
      </ziggeo>
      <%= @lesson.explanation_script %>
    </div>

    <div class="perfomance">
      <h2>performance</h2>
      <ziggeo
      ziggeo-width=625
      ziggeo-height=400>
      </ziggeo>
    </div>


    <div class="prompt_model">
      <h2>Prompt & Role Model</h2>
      <div class="lesson_prompt">
        <ziggeo
        ziggeo-video= <%= @lesson.prompt %>
        ziggeo-width=400
        ziggeo-height=195>
        </ziggeo>
        <%= @lesson.prompt_script %>
      </div>
      <div class="lesson_model">
        <ziggeo
        ziggeo-video= <%= @lesson.role_model %>
        ziggeo-width=400
        ziggeo-height=195>
        </ziggeo>
        <%= @lesson.model_script %>
      </div>
    </div>
  </div>

<a href="<%= new_lesson_practice_path(@lesson) %>">
  <button class="green_sft"> Submit </button>
</a>

<% end %>
<!--<p>
<p>
  <strong>Performance:</strong>
  <%= @lesson.performance %>
</p>
 -->

<br>
<% if current_user.role == 'admin' %>
  <%= link_to 'Edit explanation', edit_lesson_path(@lesson) %>
<% end %>

<br>
<div class="back_button">
  <%= link_to 'Back', {:controller => 'chapters', :action => 'show'} %>
</div>

<%= form_for @lesson, url: explanation_token_lesson_path(@lesson.id),
                                                    html: {id: "tokenForm"},
                                                    remote: true,
                                                    method: 'post' do |f| %>
<%= f.hidden_field :explanation %>
<% end %>

<script >
  // this function is getting the video token from ZiggeoApi.Events
  function postVideoToken(videoToken){
    // grab form by the id been display in the html and store it in a jquery object
    $form = $('#tokenForm');
    // grab the value field by its the id
    $field = $('#lesson_explanation');
    // assign the value of that field we grab by its id to the value of postVideoToken
    $field.val(videoToken);
    // the form we grabed earlier by its id gets submited to the server
    $form.submit();
    // $.ajax ({
    //   url : "/token",
    //   type : "post",
    //   data : {token: videoToken}
    // });
  };
  // function postStreamToken(streamToken){
  //
  // };
      ZiggeoApi.Events.on("submitted", function (data) {

          // getting the string token and storing it in videoToken var to ship it to the outside world
          var streamToken = data.stream.token
          var videoToken = data.stream.video_token
          console.log(videoToken);
          console.log(streamToken);

          // here is where we grab the token to escort it outside of the ziggeo api on click event
          postVideoToken(videoToken);

          // console.log(streamToken);

      });
</script>

<%= params.inspect %>
