
<div class="course_title">
  <%= @lesson.title %>
</div>
<br>
<%if [@r[0], @r[1]].include? current_user.role %>
	<%= link_to 'record explanation', new_lesson_explanation_path(@lesson) %><br>
	<%= link_to 'record prompt' %><br>
	<%= link_to 'record role model' %>
<%end%>

<%= form_for [@lesson, @explanation]  do |f| %>
  <% if @explanation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @explanation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :user_id, type:"hidden", value:current_user.id %><br>
  <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %><br>
  <%= f.text_field :script, type:"hidden" %><br>
  <%= f.text_field :video_token, type:"hidden" %>
  <%= f.text_field :token, type:"hidden" %>
  <%= f.submit 'Add Explanation' %>
<% end %>
<%= form_for [@lesson, @prompt]  do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :user_id, type:"hidden", value:current_user.id %><br>
  <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %><br>
  <%= f.text_field :script, type:"hidden" %><br>
  <%= f.text_field :video_token, type:"hidden" %>
  <%= f.text_field :token, type:"hidden" %>
  <%= f.submit 'Add Prompt' %>
<% end %>

<%= form_for [@lesson, @model]  do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @explanation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :user_id, type:"hidden", value:current_user.id %><br>
  <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %><br>
  <%= f.text_field :script, type:"hidden" %><br>
  <%= f.text_field :video_token, type:"hidden" %>
  <%= f.text_field :token, type:"hidden" %>
  <%= f.submit 'Add Role Model' %>
<% end %>

<%= form_for [@lesson, @concept]  do |f| %>
  <% if @concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @concept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :user_id, type:"hidden", value:current_user.id %><br>
  <%= f.text_field :lesson_id, type:"hidden", value:params[:id] %><br>
  <%= f.text_field :description, placeholder: 'Concepts' %><br>
  <%= f.submit 'Add Concepts to this lesson' %>
<% end %>
