<div class="site_wrapper" style="text-align: center; padding-top:100px;">
  <h4>START REHEARSING</h4>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder:'Email', class:'login', value:('admin@videorehearser.com' if Rails.env.development?) %><br>
      <%= f.password_field :password, autocomplete: "off", placeholder:'Password', class:'login', value:('test123' if Rails.env.development?) %>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "LOG IN", class:'login_submit' %>
    </div>
  <% end %>

  <span class="login_links"><%= render "devise/shared/links" %></span>
</div>
