<div class="rehearsals_title">
	You have <span style="color:red; font-weight:bold; font-size:15px;"><%= @feedbacks.size.to_s %></span> Feedback for rehearsal in Lesson :: <%= link_to @rehearsal.lesson.title, course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>
</div>

<hr>

<div class="box_sep">
	<div class="title">Feedback for <%= @rehearsal.lesson.title %></div>
	<div class="body">
		<% @feedbacks.each do |feedback| %>
			<% if !feedback.viewed_by_user %>
				<span style="font-weight:bold; font-family:'gotham';">
			<% end %>
			<% if feedback.user_id != nil %>
				<%= link_to (feedback.user.role.capitalize+' '+feedback.user.first_name+' '+feedback.user.last_name+' left you a feedback'), feedback_path(feedback) %> :: <%= time_diff(Time.now, feedback.created_at) %>
			<% end %>
			
			<% if !feedback.viewed_by_user %>
				</span><div class="reddot"></div>
			<% end %>
			<br>
		<% end %>
		<br><br>
		<button class="small_btn blue js-click_back">Back</button>
	</div>
</div>