<div class="page_info">
  <div class="the_title">
    Feedback for :: 
    <a href="<%= course_path(@rehearsal.course) %>"><%= @rehearsal.course.title %></a> >> 
    <a href="<%= course_topic_path(@rehearsal.course, @rehearsal.topic) %>"><%= @rehearsal.topic.title %></a> >> 
    <a href="<%= course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>">
      <%= @rehearsal.lesson.title %>
    </a> Rehearsals
  </div>
</div>


<div class="box_sep">
  <div class="title">
    Feedback for the <%= @rehearsal_position %> rehearsal of <%= link_to @rehearsal.lesson.title, course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>
  </div>

  <div class="lesson_half"></div>
  
  <div class="body">

    <% if current_user.level_4 %>

      <div class="feedback_video">
        <div class="media_wrapper">
          <div class="ziggeo"><%= render './shared/ziggeoplayer', this_class: 'feedback', token:@feedback.video_token %></div>
        </div>
        <div class="lesson_script <%= @this_added_class %>_script">
          <%= simple_format(@feedback.notes) %>
        </div>
        <%= render './lessons/scriptcontrol', thisclass: @this_added_class %>
      </div>
      <center>
        <a href="<%= course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>">
          <button class="big_btn blue"  style="margin:10% auto 0px;">
            Record another rehearsal
          </button>
        </a>
      </center>

    <% end %>
    <br>
    <button class="small_btn blue js-click_back">Back</button>

  </div>
</div>

</div>