<div class="top_info">
  <div class="course_title">
    Feedback for :: 
    <a href="<%= course_path(@rehearsal.course) %>"><%= @rehearsal.course.title %></a> >> 
    <a href="<%= course_topic_path(@rehearsal.course, @rehearsal.topic) %>"><%= @rehearsal.topic.title %></a> >> 
    <a href="<%= course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>">
      <%= @rehearsal.lesson.title %>
    </a> Rehearsals
  </div>
</div>


<div class="box_sep">
  <div class="title">
    Feedback for the <%= @rehearsal_position %> rehearsal of <%= link_to @rehearsal.lesson.title, course_topic_lesson_path(@rehearsal.course, @rehearsal.topic, @rehearsal.lesson) %>
  </div>

  <div class="lesson_half"></div>
  
  <div class="body">

    <% if current_user.level_4 %>

      <div class="lesson_video_left">
        <div class="ziggeo_wrapper">
          <% @this_video_token = @feedback.video_token %>
          <% @this_added_class = 'feedback' %>
          <%= render './shared/ziggeoplayer' %>
          <div class="lesson_script <%= @this_added_class %>_script">
            <%= simple_format(@feedback.notes) %>
          </div>
          <%= render './lessons/scriptcontrol' %>
        </div>
      </div>

    <% end %>
    <br>
    <button class="small_btn blue js-click_back">Back</button>

  </div>
</div>

</div>