<header class="<%= 'in_app' if in_app %>">
	<hamburger class="ion-navicon-round"></hamburger>
	
	<logo> <%= link_to  "videoRehearser", '/' %> </logo>
	
	<% if in_app %>
		<nav class="app_nav">
			<%= link_to 'Dashboard', root_path, class:'item' %>
			<%= link_to 'Courses', '/courses/search', class:'item' %>
		</nav>
		<notificons>
			<!-- <span class="ion-heart"></span> -->
			<span class="ion-ios-bell dropdownToggle" data-drop="notifDropdown" data-offset="118"></span>
			<%= render 'layouts/header/notif_dropdown' %>
		</notificons>
	<% end %>

	<nav class="user_control">
		<%= render ( in_app ? 'layouts/header/user_info' : 'layouts/header/login_register' ) %>
	</nav>
</header>