<%= form_for @course do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
        <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.text_field :title, placeholder:'Course title', class:'js-course_title course_create' %><br>
    <%= f.text_area :description, placeholder:'Description', class:'js-course_description' %><br>
    <%= f.text_field :tags, placeholder:'tags (comma separated)', class:'js-course_tags course_create' %><br>
    <%= f.text_field :approval_status, type:"hidden", class:'js-course_status', value: 0 %><br>
    <%= f.select :privacy, (current_user.level_1 ? @couse.adminprivacy! : @course.privacy!) %>
    <%= f.select :cstatus, @course.cstatus! %>
    <%= f.select :language, (@languages) %><br>

    <div class="course_price" style="display: <%= @course.paid? ? "block" : "none" %> ;">
        $<%= f.text_field :price, placeholder: 'set price (ex: 5.99)', value:((@course.price / 100.00).to_d if @course.price != nil ) %>
    </div>

    <br> <br>
    <%= f.text_field :access_code, class:"access_code" , placeholder:"access code" %><button id="generate_new_access_code" class="small_btn">generate new code</button>
    <br>
    <%= f.text_field :instructor_id, type:"hidden", class:'js-course_instructor', value:current_user.id %><br>




    <%= button_tag 'Save Course', type:'submit', class:"blue js-create_course" %>
    <button class="red js-cancel_form" data-form="course">Cancel</button>
<% end %>
<br><br><br>
