<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <%= f.text_field :title, placeholder:'Title' %><br>
  <%= f.text_area :description, placeholder:'Description' %><br>
  <%= f.text_field :tags, placeholder:'tags (comma separated)' %><br>
  <%= f.text_field :status, type:"hidden", value: 0 %><br>
  <%= f.text_field :instructor_id, type:"hidden", value:current_user.id %><br>
  <%= f.submit %>

<% end %>
