
<!-- <h3> New Course </h3> -->
  <%= form_for @course do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, placeholder:'Course title', class:'js-course_title course_create' %><br>
    <%= f.text_area :description, placeholder:'Description', class:'js-course_description' %><br>
    <%= f.text_field :tags, placeholder:'tags (comma separated)', class:'js-course_tags course_create' %><br>
    <%= f.text_field :approval_status, type:"hidden", class:'js-course_status', value: 0 %><br>
    <%= f.select :privacy, (@privacy) %>
    <%= f.select :language, (@languages) %><br>
    <%= f.text_field :instructor_id, type:"hidden", class:'js-course_instructor', value:current_user.id %>




    <%= button_tag 'Create Course', type:'submit', class:"blue" %>
    <button class="js-cancel_form red reg_btn" style="display: none;">cancel</button>
  <% end %>

<!-- <a href="<%= new_course_path %>"> -->

<!-- </a> -->
