<div class="card_item">

  <div class="card_title_sec">
    
    <a href="<%= course_path(@item) %>">
      <div class="card_title">
        <%= @item.title[0...25] %>
        <% if @item.title.length > 25 %>
           ...
        <% end %>
      </div>
    </a>

  </div>

  <div class="card_desc card_desc_<%= @item.id %>">
      <%= @item.description[0...115] %><%= "..." if @item.description.length > 115 %>
    <div class="course_content">
      <% thisCourse = content(@item) %>
      <%= "topics: "+thisCourse[:topics].to_s if thisCourse[:topics]>0 %>
      <%= " - lessons: "+thisCourse[:lessons].to_s if thisCourse[:lessons]>0 %>
    </div>
    <a href="<%= course_path(@item) %>">
      <%if current_user.registered_courses.include? @item %>
        <button class="start_course"> enter </button>
      <% else %>
        <button class="register_to_course"> register </button>
      <% end %>
    </a>
  </div>

  <div class="card_edit_sec edit_sec_<%= @item.id %>" style="display: none;">
      <button class="blue small_btn">quick edit</button>
      <a href="<%= course_path(@item) %>"><button class="green_sft small_btn">view course</button></a>
      <%= button_to "delete", @item, method: :delete, data: { confirm: 'Are you sure?' }, class:"red small_btn" %>
  </div>

  <script type="text/javascript">
    edit_or_start_course('<%= @item.id %>')
  </script>

</div>