<div class="user_bubble <%= student.id %>" style="width:100%; margin:5px 0;">
    <img src="<%= student_pic(student) %>" class="img-circle" width="30px" style="float:left;">
    <div class="info">
        <%= student.full_name %>
        <br>
        
        <%= form_tag( '/activate_deactivate_student' , style:'float:left;', remote: true) do |f| %>
            <%= hidden_field_tag :user_id, nil, value:student.id %>
            <%= hidden_field_tag :course_id, nil, value:course.id %>
            <%= submit_tag :active, class:("tiny_btn activate_deactivate "+( course.course_registrations.find_by_user_id( student.id ).approval_status ? "green_sft" : "default")) %>
        <% end %>

        <%= form_tag( '/remove_student' , style:'float:right;', remote: true) do |f| %>
            <%= hidden_field_tag :user_id, nil, value:student.id %>
            <%= hidden_field_tag :course_id, nil, value:course.id %>
            <%= submit_tag :remove, class:"tiny_btn remove_student red", data:{ confirm: 'Are you sure you want to remove this student?' } %>
        <% end %>
    </div>
</div>