<p id="notice"><%= notice %></p>

<h3>Search for Courses</h3>
  <%= form_tag do %>
    <%= text_field_tag :search, nil, style:"width:400px;", placeholder:"search courses" %>
    <%= button_tag "Search", class:"reg_btn blue" %>
  <%end%>
<hr>

<div class="course_list">

  <% @courses.each do |course| %>

    <div class="each_item">
      <div class="each_title">
        <%= link_to course.course_title, course %>
      </div>
      <div class="each_desc">
        <%= course.description %>
      </div>
      <% if current_user.role == 'admin'  %>
        <div class="each_edit">
            <%= link_to 'Edit', edit_course_path(course) %> |
            <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:'red_text' %>
        </div>
      <%end%>
    </div>

  <% end %>

</div>
