<!-- <center><p id="notice"> <%= notice %> </p></center> -->

<h3>My Courses</h3>

<br>

<div class="card_list">

  <% @courses.each do |course| %>
    <% if course.instructor_id == current_user || current_user.role == 'admin' %>
      <div class="card_item">
        <div class="card_title">
          <%= link_to course.title, course %>
        </div>
        <div class="card_desc">
          <%= course.description %>
        </div>
        <div class="card_edit_sec">
          <!-- <div class="card_edit">
              <%= link_to 'edit', edit_course_path(course) %>
          </div> -->
          <div class="card_delete">
                <%= link_to 'x', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>


<br>


<% if current_user.role == 'instructor' %>
  <a href="<%= new_course_path %>"><button class="reg_btn blue">Create New Course</button></a>
<% end %>