<!-- <p id="notice"><%= notice %></p> -->

<!-- <h3>Search for Courses</h3>
<%= form_tag do %>
	<%= text_field_tag :search, nil, style:"width:400px;", placeholder:"search courses" %>
	<%= button_tag "Search", class:"reg_btn blue" %>
<%end%>
<hr> -->
<% if current_user.level_2 %>
	<div class="title">
		<button class="js-add_form_btn creator_btn" data-form="course">
			Create New Course
		</button>
	</div>
	<div class="body">
		<!-- <div class="js-display_my_courses" style="display: none;"></div> -->
		<div class="js-course_form" style="display:none;">
			<%= render './courses/form' %>
		</div>
	</div>
<%end%>

<div class="card_list card_list_search" style="display:none;">
	
</div>

<div class="card_list card_list_original">
	<% @courses.each do |course| %>
		<% @item = course %>
	    <%= render 'searchcard' %>
	<% end %>
</div>