
<div class="top_info">
  <div class="course_title">
    <%= @course.title %>
  </div>
</div>



<%= link_to 'Edit', edit_course_path(@course), class:'edit' %><br>

<br><br>
<%if !@course.tags.size == 0 %>
  tags:
  <% @course.tags.split(', ').each do |tag| %>
    <a href="#"><b><%= tab %></b></a>
  <%end%>
<%end%>

<div>
  <%= @course.description %>
</div>


<h4>Topics</h4>


<% @course.topics.each_with_index do |topic, index| %>
  <b><%= (index + 1).to_s %></b> - <%= link_to topic.title, course_topic_path(@course, topic) %>
  <%= topic.description %>
  <% if current_user.role == 'admin' || current_user.role == "instructor" %>
    <!-- link to delete -->
  <% end %>
  <br>
  <br>
<% end %>

<br>
  <%if current_user.level_2 %>
    <div class="js-open_form" style="display:none;">
      <%= render './topics/form' %>
    </div>
    <button class="js-show_form reg_btn green_sft">Create New Topic</button>
    <button class="js-show_external_form reg_btn green_sft">Add External Topic</button>
  <%end%>
<br>
<a href="<%= user_path(current_user) %>"> <button> < Back to dashboard </button> </a>
