<!-- <center><p id="notice"> <%= notice %> </p></center> -->

<div class="course_title">
  <%= @course.title %> <font color="#ccc">|</font>
</div>
<%= link_to 'Edit', edit_course_path(@course), class:'edit' %><br>

<br><br>
<%if !@course.tags.size == 0 %>
  tags:
  <% @course.tags.split(', ').each do |tag| %>
    <a href="#"><b><%= tab %></b></a>
  <%end%>
<%end%>

<div>
  <%= @course.description %>
</div>


<h4>Topics</h4>


<% @course.topics.each_with_index do |topic, index| %>
  <b><%= (index + 1).to_s %></b> - <%= link_to topic.title, course_topic_path(@course, topic.id) %>
  <%= topic.description %>
  <% if current_user.role == 'admin' || current_user.role == "instructor" %>
    <!-- link to delete -->
  <% end %>
  <br>
  <br>
<% end %>

<br>

<% if current_user.level_2 %>
  <%= render './topics/form' %>
<% end %>

<br>
<a href="<%= courses_path %>"> <div class="back_button"> Back </div> </a>
