<center><p id="notice"> <%= notice %> </p></center>

<div class="course_title">
  <%= @course.title %> <font color="#ccc">|</font>
</div>
<%= link_to 'Edit', edit_course_path(@course), class:'edit' %>

<div>
  <%= @course.description %>
</div>


<h3>Topics</h3>


<% @course_topics.each_with_index do |topic, index| %>
  <b><%= (index + 1).to_s %></b> - <%= link_to topic.topic_title, topic %>
  <%= topic.description %>
  <% if current_user.role == 'admin'  %>
    <!-- <%= link_to 'Edit', edit_topic_path(topic) %> -->
    <%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, class:'red_text' %>
  <% end %>
  <br>
  <br>
<% end %>

<br>

<hr>

<% if current_user.role == 'admin' %>
  <a href="<%= new_course_topic_path(@course.id) %>">
    <button class="reg_btn blue">Create New Topic</button>
  </a>
  <hr>
<% end %>


<a href="<%= courses_path %>"> <div class="back_button"> Back </div> </a>
