<div class="top_info">
  <div class="course_title">
    <%= @course.title %>
    <% if course_creator %>
      <a href="<%= edit_course_path(@course) %>" title="edit <%= @course.title %>">
        <span class="ion-edit edit" style="font-size:15px; margin:50px 10px;"></span>
      </a>
    <% end %>
  </div>
</div>



<div class="about_course">
  <span class="title">About the course</span><br>
  <%= @course.description %>
</div>
<div class="course_instructor">
  <span class="title">Instructor</span><br>
  <%= instructor_name %><br>
  <img src="<%= instructor_profile %>" class="img-circle" width='60px'>
</div>

<br>
<% if course_creator || course_trainee %>

  <h4>Topics</h4>
  <hr>

  <div class="card_list">
    <% @course.topics.each_with_index do |topic, index| %>
      <div class="card">
        <a href="<%= course_topic_path(@course, topic) %>">
          <div class="card_title topic">
            <%= topic.title %>
          </div>
          <div class="card_desc topic">
            <%= topic.description[0...130] %>
            <% if topic.description.length > 130 %>
               ... <span class="blue">more</span>
            <% end %>
            <% topic.lessons.each do |top| %>
              <div class="bar_count"></div>
            <% end %>
            
            <% if course_trainee %>
              <div class="topic_progress">
                <!-- <progress value="<%= 0  %>" max="<%= @topic.lessons.to_s %>"> -->
                <!-- </progress> -->
              </div>
            <% end %>
          </div>
        </a>
        </div>
    <% end %>
  </div>
<% else %>
  <center style="margin:50px auto 200px;">
    <%= render './course_registrations/course_registration_form' if !course_creator %>
  </center>

<% end %>



<br>
<%if course_creator %>
  <div class="js-open_form" style="display:none;">
    <%= render './topics/form' %>
  </div>
  <button class="js-show_form green_sft add_btn">+</button>
  <!-- <button class="js-show_external_form reg_btn green_sft">Add External Topic</button> -->
<%end%>
<br><br>





<br>
<%if !@course.tags.empty? %>
  <span style="font-family:'webly_bld';">tags:</span>
  <% @course.tags.split(', ').each do |tag| %>
    <a href="#"><b><%= tag %></b></a>
  <%end%>
<%end%>






<!-- <a href="<%= user_path(current_user) %>"> <button> < Back to dashboard </button> </a> -->
<!-- renders the topics that have rehearsals that need to be checked -->
<%= render './rehearsals/by_topic' %>
