<div class="top_info">
  <div class="course_title">
    <%= @course.title %>
    <% if course_creator %>
      <a href="<%= edit_course_path(@course) %>" title="edit <%= @course.title %>">
        <span class="ion-edit edit" style="font-size:15px; margin:50px 10px;"></span>
      </a>
    <% end %>
  </div>
</div>



<div class="about_course">
  <span class="title">About the course</span><br>
  <%= @course.description %>
</div>
<div class="course_instructor">
  <span class="title">Instructor</span><br>
  <%= instructor_name %><br>
  <img src="<%= instructor_profile %>" class="img-circle" width='60px'>
</div>

<br>
<% if course_creator || course_trainee %>

  <h4>
    Topics
    <%if course_creator %>
      <button class="js-add_form_btn green_sft add_btn small" data-form="topic">+</button>
    <%end%>
  </h4> 
  <hr>

  <%if course_creator %>
    <div class="js-topic_form" style="display:none;">
      <%= render './topics/form' %>
    </div>
    <!-- <button class="js-show_external_form reg_btn green_sft">Add External Topic</button> -->
    <br>
  <%end%>

  <div class="card_list">
    <% @course.topics.each_with_index do |topic, index| %>
      <div class="card">
        <a href="<%= course_topic_path(@course, topic) %>">
          <div class="card_title topic">
            <%= topic.title[0...25] %><%= '...' if topic.title.length > 25 %>
          </div>
        </a>
          <div class="card_desc topic">
            <%= topic.description[0...130] %><%= "..." if topic.description.length > 130 %>
            
            <div class="bottom_count">
                <% topic.lessons.each do |lesson| %>
                  <div class="bar_count <%= topic_lesson_completion(lesson) == 0 ? 'pending' : ( topic_lesson_completion(lesson) == 1 ? 'done' : '' ) %> "></div>
                  <!-- TRAINEE PROGRESS BAR -->
                <% end %>
            </div>

          </div>
        </div>
    <% end %>
  </div>
<% else %>

  <center style="margin:50px auto 200px;">
    <%=  'This is a "Free Course", click below to start.' if course_public %>
    <%=  'This is a "Closed Course", click below to request Access.' if course_closed %><br><br>
    <%= render './course_registrations/course_registration_form' if !course_creator %>
  </center>

<% end %>





<br>
<%if !@course.tags.empty? %>
  <span style="font-family:'webly_bld';">tags:</span>
  <% @course.tags.split(', ').each do |tag| %>
    <a href="#"><b><%= tag %></b></a>
  <%end%>
<%end%>

<br><br>
<button class="small_btn blue js-click_back">Back</button>
