<!-- <center><p id="notice"> <%= notice %> </p></center> -->

<div class="course_title">
  <%= @course.title %> <font color="#ccc">|</font>
</div>
<%= link_to 'Edit', edit_course_path(@course), class:'edit' %><br>
tags:
<% @course.tags.each do |t| %>
  <a href="#"><b><%= t %></b></a>
<% end %>

<div>
  <%= @course.description %>
</div>


<h3>Topics</h3>


<% @course.topics.each_with_index do |topic, index| %>
  <b><%= (index + 1).to_s %></b> - <%= link_to topic.title, course_topic_path(@course, topic.id) %>
  <%= topic.description %>
  <% if current_user.role == 'admin' || current_user.role == "instructor" %>
    <!-- link to delete -->
  <% end %>
  <br>
  <br>
<% end %>

<br>

<hr>

<% if current_user.role == 'admin' || current_user.role == 'instructor' %>
  <a href="<%= new_course_topic_path(@course.id) %>">
    <button class="reg_btn blue">Create New Topic</button>
  </a>
  <hr>
<% end %>


<a href="<%= courses_path %>"> <div class="back_button"> Back </div> </a>
