
<div class="js-register_course">
  <%= form_for [@course, @course_registration], remote: true do |f| %>
      <% if @course_registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course_registration.errors.count, "error") %> prohibited the registration to this course from being saved:</h2>
            <ul>
              <% @course_registration.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <% if course_public %>
        <%= button_tag "Start Course", type:'submit', class:"big_btn blue js-course_register_btn" %>
      <% elsif !course_closed %> 
        <%if course_public_code %>
          <%= text_field_tag :access_code, nil, placeholder:"Enter course access code", style:" width:200px; " %>
          <br>
        <% end %>
        <%= button_tag "Register for Course", type:'submit', class:"big_btn blue js-course_register_btn" %>
      <% end %>
  <% end %>
</div>

<div class="success code_success" style="margin:10px auto; width:350px; font-size:11px;">
    Welcome to the course: <%= @course.title %>.
</div>
<div class="error code_error" style="margin:10px auto; width:350px; font-size:11px;">
    There was an error registering you to the course:
    <br>
    - Please check your access code.
</div>

<div class="js-register_confirm" style="display:none;"></div>