<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course %>
</p>

<p>
  <strong>Chapter title:</strong>
  <%= @chapter.chapter_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<%= link_to 'Edit', edit_course_chapter_path %> |
<%= link_to 'Back', course_path %>

<%= link_to 'create new lesson', new_lesson_path %>
