<center><p id="notice"> <%= notice %> </p></center>

<div class="course_title">
  <%= @chapter.course.course_title %>
</div>


<p>
  <strong>
    <%= @chapter.chapter_title %> <font color="#ccc">|</font> <%= link_to 'Edit', edit_chapter_path %>
  </strong>
</p>

<p>
  <%= @chapter.description %>
</p>

<h3>Listing Lessons</h3>
<p class="course_chapter"><%= progress %>% progess<br>
  <progress class="course_chapter" value="<%= progress %>" max="100"></progress>
</p>


<% @course.lessons.each_with_index do |lesson, index| %>
  Lesson <%= (index + 1).to_s %> - <%= link_to lesson.lesson_title, lesson %></td>
  <% if current_user.role == "admin" %>
    <%= link_to 'Delete', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class:'red_text' %>
  <% end %>
  <br>
  <br>
<% end %>


<hr>

<% if current_user.role == 'admin'  %>
  <a href="<%= new_chapter_lesson_path(@chapter.id) %>">
    <button class="reg_btn blue">Create New Lesson</button>
  </a>
  <hr>
<% end %>


<a href="<%= course_path %>"> <div class="back_button"> Back </div> </a>


