<div class="wrapper" style="margin:30px auto 40px;">

    <style>
        .col3{
            width:33%;
            float: left;
        }
        .prompt_video{
            width: 95%;
        }
    </style>

    <h4><%= @rehearsal.trainee.full_name %> has requested a peer review from you for: </h4>
    <h5>
        Lesson: <%= link_to @lesson.title, @lesson.path %>
        <br>
        Course: <%= link_to @course.title, course_path(@course) %>
    </h5>
    <hr>

    <div class="col3">
        <% if @prompt %>
            <% @item = @prompt %>
            <% @name = 'prompt' %>
        <% elsif @model %>
            <% @item = @model %>
            <% @name = 'model' %>
        <% elsif @explanation  %>
            <% @item = @explanation %>
            <% @name = 'explanation' %>
        <% end %>
		<div class="js-player <%= @name %>_video">
            <%= @name.capitalize %>:
            <br><br>
		
			<div class="video_black_bg media_wrapper">
				<div class="ziggeo">
                    <%= render './shared/ziggeoplayer', this_class: @name, token:@item.video_token %>
				</div>
			</div>
			<div class="lesson_script <%= @name %>_script peer_<%= @name %>_script">
				<%= simple_format(@item.script) %>
			</div>
			<%= render './lessons/scriptcontrol', thisclass: 'peer_'+@name %>
		</div>
    </div>
    
    <div class="col3">
        <div class="js-player prompt_video">
            <%= @rehearsal.trainee.full_name %>'s Rehearsal:
            <br><br>
		
			<div class="video_black_bg media_wrapper">
				<div class="ziggeo">
					<%= render './shared/ziggeoplayer', this_class: "rehearsal", token:@rehearsal.video_token %>
				</div>
			</div>
			<div class="lesson_script prompt_script rehearsal_script">
				<%= simple_format(@rehearsal.script) %>
			</div>
			<%= render './lessons/scriptcontrol', thisclass: 'rehearsal' %>
		</div>
    </div>
    
    <div class="col3">
        <%= render './peer_reviews/peer_review' %>
    </div>
    
</div>