<% user_signed_in? ? in_app = true : in_app = false %>
<% menu_welcome ? home = true : home = false %>

<header class="header<%= home ? ' home' : ( in_app ? ' app' : '' ) %>">
	<div class="menu<%= ' app' if in_app %>" >

		<div class="logo">
			<a href="/">
				<% if home || in_app %>
					<img src="/assets/logo_white.png">
				<% else %>
					<img src="/assets/logo.png">
				<% end %>
				<!-- Video Rehearser -->
			</a>
		</div>

		<div class="menu_list">

			<% if in_app %>

				<%= link_to "Log out", destroy_user_session_path, method: "delete", class:"menu_item" %>
			
			<% else %>

				<% @main_menu.each do |menu| %>
					<div class="menu_item"><a href="/<%= menu %>"><%= menu.capitalize %></a></div>
				<%end%>
				
		    	<div class="menu_item">
		    		<%= link_to "Log In", new_user_session_path %>
		    	</div>

		    	<a href="<%= new_user_registration_path %>">
		    		<div class="register_item menu_item">Register</div>
		    	</a>

			<% end %>

	    </div>

	</div>
</header>