<% if user_signed_in? %>
	<header class="inter_header">
      	<div class="inter_header right_item"><%= link_to "Log out", destroy_user_session_path, method: "delete" %></div>
      	<div class="inter_header right_item"><%= link_to "Users", users_path %></div>
	</header>
<% else %>
	<header class="header">
		<menu>
			<div class="logo"><a href="/"><img src="/assets/logo_home.png" width="100%"></a></div>
			<% @main_menu.each do |menu| %>
				<div class="menu_item"><%= menu.capitalize %></div> 
			<%end%>
	    	<a href="<%= new_user_registration_path %>">
	    		<div class="inter_header register_item">Register</div>
	    	</a>
	    	<div class="inter_header right_item">
	    		<%= link_to "Sign In", new_user_session_path %>
	    	</div>
    	</menu>
    </header>
<% end %>

