<% user_signed_in? ? in_app = true : in_app = false %>
<% menu_welcome ? home = true : home = false %>

<header class="header<%= home ? ' home' : ( in_app ? ' app' : '' ) %>">
	<div class="menu<%= ' app' if in_app %>" >

		<div class="logo">
			<a href="/">
				<% if home || in_app %>
					<!-- <img src="/assets/logo_white.png"> -->
					<div class="logo_white">video Rehearser</div>
				<% else %>
					<!-- <img src="/assets/logo.png"> -->
					<div class="logo_blue">video Rehearser</div>
				<% end %>
			</a>
		</div>

		<div class="menu_list">

			<% if in_app %>
				<div class="user_dropdown">
					<%= button_to "Log out", destroy_user_session_path, method: "delete", class:"drop_down_item" %>
				</div>
				

				<div class="user_info">
					<div class="drop_menu">
						<span id="chevron" class="ion-chevron-down"></span>
					</div>
					<div class="profile_pic">
						<a href="/users/<%= current_user.id %>"><img src="<%= current_user.photo %>" class="img-circle"></a>
					</div>
					<div class="user_info_text">
						<span style=" font-size:11px; font-weight:bold;">
							<%= current_user.first_name %> <%= current_user.last_name %>
						</span>
						<div class="js-user_role"><%= @user_role %></div>
						<div class="js-user_id" style="display: none;"><%= current_user.id %></div>
					</div>
				</div>

			<% else %>

				<% @main_menu.each do |menu| %>
					<div class="menu_item"><a href="/<%= menu %>"><%= menu.capitalize %></a></div>
				<%end%>
				
		    	<div class="menu_item">
		    		<%= link_to "Log In", new_user_session_path %>
		    	</div>

		    	<a href="<%= new_user_registration_path %>">
		    		<div class="register_item menu_item">Register</div>
		    	</a>

			<% end %>

	    </div>

	</div>
</header>