<% user_signed_in? ? in_app = true : in_app = false %>
<% menu_welcome ? home = true : home = false %>

<header class="header<%= home ? ' home' : ( in_app ? ' app' : '' ) %>">
	<div class="menu<%= ' app' if in_app %> topnav" id="myTopnav">

		<a href="/">
			<div class="logo">
				<% if home %>
					<div class="logo_white">videoRehearser</div>
				<% else %>
					<div class="logo_blue">videoRehearser</div>
				<% end %>
			</div>
		</a>

		
		<% if in_app %>
			<div class="menu_list">
			
				<div class="user_dropdown">
					<%= button_to "Log out", destroy_user_session_path, method: "delete", class:"drop_down_item" %>
				</div>
				
				<div class="user_info">
					<div class="drop_menu">
						<span id="chevron" class="ion-chevron-down"></span>
					</div>
					<div class="profile_pic">
						<a href="/users/<%= current_user.id %>"><img src="<%= current_user.photo %>" class="img-circle"></a>
					</div>
					<div class="user_info_text">
						<span style=" font-size:15px;">
							<%= current_user.first_name %> <%= current_user.last_name %>
						</span>
						<div class="js-user_role"><%= @user_role %></div>
						<div class="js-user_id" style="display: none;"><%= current_user.id %></div>
					</div>
				</div>
			</div>

		<% else %>
			<div class="sepa"></div>

			<%= link_to "Register", new_user_registration_path, class:"register_item menu_item" %>
			<%= link_to "Log In", new_user_session_path, class:'menu_item' %>
			<% @main_menu.reverse.each do |menu| %>
				<%= link_to menu.capitalize, menu, class:'menu_item' %>
			<%end%>

			<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
				
		<% end %>

	</div>
</header>
