<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title><%= @site_title ? @site_title : "videoRehearser" %></title>
    <link rel="shortcut icon" href="/assets/ico.png">

    <%= render 'layouts/styles' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>

  <%= render 'layouts/loading' %>

  <script type="text/javascript">TermsandServices(<%= check_terms(termsVersion) %>);</script>
  <div class="terms_not_aggreed" style="display:<%= check_terms(termsVersion) ? 'none' : 'block' %>;">
    <%= render '/welcome/reviewtermsandservices' %>
  </div>

  <script type="text/javascript">$('.loading_app').show(); startLoadingProg();</script>

  <%= render 'layouts/notice' %>
  <%= render 'layouts/menu' unless menu_welcome %>

  <% if user_signed_in? %>
    <div class="main-content">

      <%= render 'layouts/leftpanel' %>
      
      <div class="content-container">
        <%= yield %>
        <input type="hidden" name="thisPath" value="<%= request.original_fullpath %>">
      </div>

    </div>
    <br>
  <% else %>
    <%= yield %>
  <% end %>
  
  <%= render 'layouts/footer' %>

  </body>
</html>
