<!DOCTYPE html>
<html>
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <LINK REL="SHORTCUT ICON" HREF="/assets/ico.png">

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

    <!-- BOOSTRAP -->




  <title>
    <% if @site_title %>
      <%= @site_title %>
    <%else%>
      Video Rehearser
    <%end%>
  </title>


  <title>VideoRehearser</title>
  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-latest/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-latest/ziggeo.js"></script>
  <script> ZiggeoApi.token ='<%= Rails.application.secrets.ziggeo_secret %>'; </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>

  <% flash.each do |message_type, message| %>
    <div id:"flash" class="flash-<%= message_type %>"><%= message %></div>
  <% end %>

<% if user_signed_in? %>
  <div class="inter_wrapper">
    <%= render 'layouts/leftpanel' %>
    <%= render 'layouts/banner' %>
      <div class="inter_content">
        <%= yield %>
      </div>
    <%= render 'layouts/tasks' %>
  </div>

<% else %>
  <%= yield %>
<% end %>

<%= render 'layouts/footer' %>

</body>
</html>
