<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <LINK REL="SHORTCUT ICON" HREF="/assets/ico.png">

    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- BOOSTRAP -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="/bootstrap/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>

  <title>
    <%= @site_title ? @site_title : "Video Rehearser" %>
  </title>

  <script type="text/javascript"></script>

  <!-- ziggeo api token and styles -->
  <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-latest/ziggeo.css" />
  <script src="//assets-cdn.ziggeo.com/v1-latest/ziggeo.js"></script>
  <script> ZiggeoApi.token ='<%= Rails.application.secrets.ziggeo_secret %>'; </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83591568-1', 'auto');
    ga('send', 'pageview');
  </script>



</head>
<body>

<div class="loading_app" style="display:none;">
  <span class="load_text">loading ... <span class="ion-ios-cloud-download"></span></span><br>
  <progress class="loading_prog" value="0" max="101"></progress>
</div>
<script type="text/javascript">$('.loading_app').show(); startLoadingProg();</script>



<% flash.each do |message_type, message| %>
  <div id:"flash" class="notice flash_message flash-<%= message_type %>">
    <%= message  %><div class="close_notice"> X </div>
  </div>
<% end %>

<%= render 'layouts/menu' unless request.original_fullpath == '/' && !current_user %>


<% if user_signed_in? %>

  <div class="inter_wrapper">
    <table style="height: 100%;" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td class="leftpanel" valign="top">
            <%= render 'layouts/leftpanel' %>
          </td>
          <td class="inter_content" valign="top">
              <%= render 'layouts/banner' %>
              <div class="body">
                <%= yield %>
                <input type="hidden" name="thisPath" value="<%= request.original_fullpath %>">
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<% else %>

  <%= yield %>

<% end %>


<%= render 'layouts/footer' %>


<script type="text/javascript"> endLoadingProg(); </script>


</body>
</html>
